[2014-09-10 17:35] rgallart101 opened #2 "Error while installing MariaDB"
Hi,

I have this error when using this cookbook:
- [2014-09-10T16:47:52+00:00] ERROR: /tmp/vagrant-chef-1/chef-solo-1/cookbooks/mariadb/providers/PaxHeaders.5040/configuration.rb:1: syntax error, unexpected tIDENTIFIER, expecting $end

I have put the full trace on [pastebin](http://pastebin.com/7L4b3qyW)

I am using Vagrant with precise64 and chef-solo to provision a development VM.

Any clues?

T

[2014-09-11 09:12] sinfomicien commented on #2
Hi,

I'm aware of this problem... In some ways my knife version made the package with some meta-package wich produces PaxHeaders when using ruby minitar gem. and Chef/Berksheklf use it. I will try to correct packaging and publish a clean version on supermarket.

[2014-09-11 10:56] sinfomicien commented on #2
I just publish the new version 0.2.1 with stove instead of knife cookbook site share in the supermarket. Could you test the new version please ? If ok, i close the issue.

[2014-09-11 11:05] #2 closed, assigned to sinfomicien

[2014-09-11 12:54] sinfomicien commented on #2
Sorry, forgot that my PR will automatically closed the issue. Do not hesitate to reopen if needed.

[2014-09-15 10:46] stissot opened #4 "The root password is not set"
While the attribute `node['mariadb']['server_root_password']`, the server or config recipes do not set it, the root password is empty after install.

[2014-09-15 10:50] stissot opened #5 "Change of port number should restart mysqld"
When `node['mariadb']['mysqld']['port']` is set to another value, the service still listens to the default port 3306. We have to restart the service to get it apply. The server or config recipe should notify the service to restart.

[2014-09-15 12:19] sinfomicien commented on #4
I agree... I updated the documentation, but the associated code is on a branch which i snot fully tested. I will publish it as soon as possible.

[2014-09-15 12:31] sinfomicien commented on #5
In theory, you're right! But in fact, i found a little bit risky to do a service restart when config file change. Some users (including me) used to have the chef-client service or cron locally. And i do not want the recipe to restart services, until it's absolutely needed.

When the port change, yes it's needed, but i do not know how to check if only one attribute has changed... There's some minor

[2014-09-15 12:34] stissot commented on #5
Here is what I put in my recipe as a workaround:

<pre># restart to ensure the server is listening to the new port
service 'mysql' do
  action :restart
  not_if { is_port_open?('127.0.0.1', node['mariadb']['mysqld']['port']) }
end</pre>

[2014-09-15 12:40] sinfomicien commented on #5
Not so ugly... Will try to create a helper which can decide wether to restart the service or not. I think that in the future some others attributes will have the same problem (like the unix socket path).

[2014-09-15 13:37] stissot commented on #5
A helper function to determine if the service needs to be restarted would be great.
Here is the helper function to check if a tcp socket is listening

<pre># Helper methods for use in templates and recipes
# Use in recipes with:
# ::Chef::Recipe.send(:include, MariaDB::Helper)
module MariaDB
  module Helper
    require 'socket'
    require 'timeout'
    def is_port_open?(ip, port)
      begin

[2014-09-16 08:34] sinfomicien commented on #5
Will commit something you could test as soon as all tests passed on my laptop.

[2014-09-16 16:06] sinfomicien commented on #5
Now, i have a problem to test with chefspec... I don't know how to mock properly a Class method. If you have an idea... But the code itself must work.

[2014-09-17 12:39] stissot commented on #5
Thanks Nicolas for quick fix, the restart trigger works great by my side :)

Since ChefSpec is running an in-memory representation without deploying the real mysqld service, I don't think it can check if a port is listening (this is for serverspec). Below is a dirty workaround that will trigger a restart each time the helper method is invoked in a ChefSpec environment, and then make test pass.

<p

[2014-09-17 12:39] #5 closed, assigned to sinfomicien

[2014-09-18 09:41] sinfomicien commented on #5
Ok, i did a good test finally. All tests went fine. I releaased the recipe after the resolution of the issue #4

[2014-09-18 10:32] i-sam opened #6 "ubuntu 12.04 Chef::Exceptions::GroupIDNotFound"
ubuntu 12.04, used 0.2.3 version of cookbook, got this:

[code]

[2014-09-18 11:28] sinfomicien commented on #6
I just launch tests about ubuntu 12.04, and cannot reproduce it. This group (mysql) is theoritically installed by the mariadb official package. Which repository do you use to install the mariadb-server package please ?

[2014-09-18 13:07] i-sam commented on #6
I selected default(use_default_repository to the true value), as recomended in description, should I set some specific in somehow?

[2014-09-18 13:15] sinfomicien commented on #6
Normally you don't have to set other attributes. Can you check on your target system that mariadb-server-10.0 is correctly installed... And if so, is there a user/group mysql in the system files /etc/group and /etc/passwd  please ?

[2014-09-19 08:17] sinfomicien opened #7 "Be able to activate/deactivate the remote root login"
As somes users aked for it.

[2014-09-19 08:19] sinfomicien opened #8 "Add an attribute to create a random secure root password"
It's a good idea, sent by a mysql (Oracle) user. It seems that the rpm install of Mysql create a random root password at install, and keep it under $HOME/.mysql_secret

[2014-09-19 08:46] sinfomicien commented on #4
Hi Sylvain,

Could you verify that my implementation meets your needs ? If it's ok, i will release the 0.2.3 on the supermarket.

[2014-09-19 11:48] sinfomicien commented on #7
Ok, all commits works.

[2014-09-19 11:48] #7 closed, assigned to sinfomicien

[2014-09-19 11:51] stissot commented on #4
Thanks Nicolas, the implementation to set the password is working great, tested on Ubuntu 14.04 and MariaDB 5.5

[2014-09-19 11:51] #4 closed, assigned to sinfomicien

[2014-09-19 11:59] sinfomicien opened #9 "Foodcritic does not detect FC004 neither locally or on Travis"
But as soon as i uploaded the recipe v0.2.3 to the supermarket... Foodcritic complained about it.

[2014-09-19 12:06] sinfomicien commented on #9
Not to myself: in fact, it detects it, but i miss the --epic-fail any.

[2014-09-19 12:24] sinfomicien commented on #9
Now, it breaks \o/

[2014-09-19 12:24] #9 closed, assigned to sinfomicien

[2014-09-19 12:29] sinfomicien opened #10 "Correct FC004 broken rule"
The one which is detected by the supermarket:
https://supermarket.getchef.com/cookbooks/mariadb/versions/0.2.3#foodcritic

[2014-09-19 12:40] sinfomicien commented on #10
Ok, it works now.

[2014-09-19 12:40] #10 closed, assigned to sinfomicien

[2014-09-19 12:50] sinfomicien commented on #6
Hi i-sam, could you test the 0.2.4 version ? I just released it on the supermarket.

[2014-09-23 08:09] sinfomicien opened #11 "Preseed the root password into the galera recipe"
The server recipe now include the root password setting at install, but not the galera one.

[2014-09-23 21:30] sinfomicien opened #12 "debian-sys-maint user generation is broken in the galera recipe"
It does not work if the debian-sys-maint password is changed after the installation of the cluster

[2014-09-24 08:59] sinfomicien commented on #12
The merge has been successfull. It works now

[2014-09-24 08:59] #12 closed, assigned to sinfomicien

[2014-09-24 08:59] sinfomicien commented on #11
It works now

[2014-09-24 08:59] #11 closed, assigned to sinfomicien

[2014-09-24 09:08] sinfomicien opened #14 "Add a secure section"
As someone asked me by mail, this cookbook need a 'secure' version which can be applied both on server and galera.

The goal is to simulate the result of the mariadb_secure_installation script, via attributes:

- [ ] set a secure root password (via openssl opscode cookbook)
- [x] remove test database
- [x] remove anonymous login
- [x] remove root remote access (already done, but put the attribute

[2014-09-24 09:10] sinfomicien opened #15 "Be able to install on windows"
Someone by mail asked me that he needs to install mariadb under windows (server recipe to begin, the galera part will be more difficult)

[2014-09-24 11:29] i-sam commented on #6
Yes, sure will report soon, sorry, I worked on another task. Thanks, for fast reaction

[2014-09-24 12:23] i-sam commented on #6
Yes, it's realy doesn't exist in /etc/passwd. And mariadb actualy wasn't installed. I tried cookbook 0.2.4, but it seems that almost the same.. In this time I used all default settings and didn't change anything.

3.11.0-15-generic #25~precise1-Ubuntu SMP Thu Jan 30 17:39:31 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

[code]

BTW also it say that /etc/mysql /etc/mysql/conf.d wasn't existed so I creat

[2014-09-29 08:50] sinfomicien commented on #6
I don't know why, but it's like the package was not installed at all! Could you please remove it from your system (apt-get remove --purge mariadb-server-10.0), then launch the recipe again please ?

[2014-09-29 11:55] sinfomicien opened #16 "Setup an online slave"
It's possible via attributes to setup a master. But even if we can add some values usefull to setup slave there's no way to add a slave connection online.

Prefer the LWRP way to do it. I think it's better since we can add more than one connection (only on mariadb 10.0, not 5.5).

[2014-09-30 09:22] i-sam commented on #6
hmm.. when I removed all params that I set in default variables in environment and realize that it can't find mariadb-server-10.0:

[code]

you could find full log here https://gist.github.com/i-sam/969f54fab77675a9b130

[2014-09-30 09:23] i-sam commented on #6
sorry miss click, so some problem with adding repo it seems

[2014-09-30 10:14] i-sam commented on #6
when 'apt'
    include_recipe 'apt::default'
it seems to me that default repo on http://ftp.igh.cnrs.fr/pub/mariadb/repo/10.0/ubuntu/ has in a bit another structure:

[code]

[code]

[2014-09-30 10:41] i-sam commented on #6
it seems this repo works for me

[code]

[2014-09-30 12:02] sinfomicien commented on #6
Yes, you're right... I will put the base apt url in attribute, so you can change it. In your case, you will just have to change this base apt repo url.

[2014-10-01 08:54] sinfomicien opened #17 "Do not install development files in the client recipe"
Someone in my company want to be able to not install development files when using client recipe. Do it by a boolean attribute, seems the better way.

[2014-10-01 08:59] sinfomicien commented on #6
I just commit a way to change the apt repo base url. Could you test it, and verify it solve your problem ?
Thx

[2014-10-01 09:00] sinfomicien commented on #17
The last code commited works as expected

[2014-10-01 09:00] #17 closed, assigned to sinfomicien

[2014-10-01 11:47] sinfomicien commented on #16
It works as expected (based on tests)

[2014-10-01 11:47] #16 closed, assigned to sinfomicien

[2014-10-02 12:55] i-sam commented on #6
Great! Thank you for fast solution. Yes, now it works for me. with config like this:

[code]

[2014-10-02 12:56] i-sam commented on #6
it still seems should be here `use_default_repository` false or we don't need it at all, in this case but it's not so important cause now it works

[2014-10-02 13:05] i-sam commented on #6
I think can close this issue.

[2014-10-02 13:05] #6 closed, assigned to sinfomicien

[2014-10-06 14:02] sinfomicien opened #18 "mariadb_replication provider, generate compilation error"
When we test it from another cookbook (test using chefspec):

[code]

[2014-10-06 14:15] sinfomicien opened #20 "Avoid resource cloning for directory '/var/cache/local/preseeding'"
Because this directory is already created in the apt default recipe.

[2014-10-06 15:41] sinfomicien commented on #18
Ok, yes, it was just nil instead of NilClass. good correction.

[2014-10-06 15:41] #18 closed, assigned to sinfomicien

[2014-10-06 15:42] sinfomicien commented on #20
No more warning.

[2014-10-06 15:42] #20 closed, assigned to sinfomicien

[2014-10-10 15:20] sinfomicien opened #22 "We need to be able to set gtid_slave_pos"
When setting up a slave using GTID base replication, with the attribute `master_use_gtid` set to `slave_pos`, we need to be able to set the `gtid_slave_pos`. Especially when you want to build the slave from a master's backup.

[2014-10-13 10:19] rgunijan opened #23 "Issue trying to install with Ubuntu 12.04 VM"
I am trying to install mariadb server with chef, vagrant. I am getting following error while trying to install with chef.add_recipe "mariadb::server

ERROR: package[mariadb-server-10.0](mariadb::_debian_server line 53) had an error: Chef::Exceptions::Package: No version specified, and no candidate version available for mariadb-server-10.0

[2014-10-14 12:06] sinfomicien commented on #23
Have you try to set the attribute `node['mariadb']['use_default_repository']` to true ?

[2014-10-14 12:09] sinfomicien opened #24 "Error : TypeError: can't convert Fixnum into String using replication lwrp"
When i try to set the master_port, i get this error.
According to:
## `TypeError

can't convert Fixnum into String
## Cookbook Trace:

/var/chef/cache/cookbooks/mariadb/providers/replication.rb:32:in `+'
/var/chef/cache/cookbooks/mariadb/providers/replication.rb:32:in`block in class_from_file'`

It seems that i try to concat an integer without using the to_s method.

[2014-10-14 12:39] rgunijan commented on #23
Thanks! It worked.

[2014-10-14 12:39] #23 closed, assigned to nobody

[2014-10-19 22:30] stissot opened #25 "datadir to a different location"
When the attribute `node['mariadb']['mysqld']['datadir']` is set to a non-default value (e.g `/mnt/mysql`), the server fails to start because the data is not copied from the default location `/var/lib/mysql`
Tested on Ubuntu 14.04 with MariaDB 5.5

[2014-10-20 13:38] sinfomicien commented on #25
The question is, must we copy or move the data automatically ? That's why today it's not done... Can't decide what is the best strategy

[2014-10-20 14:47] stissot commented on #25
It's difficult to change the datadir in the my.cnf during the package installation. I suggest to keep it to it's default value, but if the `node['mariadb']['mysqld']['datadir']`is different than the default, stop the service, move the data, replace it with a symlink to the new path and restart the service.

[2014-10-20 18:54] stissot commented on #25
Hello I've added in a separate branch a shell script that moves the datadir just after install and replaces it by a symlink. I tried to use `service[mysql]` to stop the service but it takes several seconds for the server to be properly shut down and the execute command that moves the directory was notified too quickly so in the end everything is done in the shell script.
A new serverspec test was

[2014-10-24 09:14] sinfomicien commented on #25
I checked on other platform, and it works. Thx for your PR. I closed the ticket, fell free to reopen if needed

[2014-10-24 09:14] #25 closed, assigned to nobody

[2014-11-12 16:42] sinfomicien opened #28 "Service mysql is not usable cause of the only_if clause"
Need to fin a way to restart the service without adding an only_if.

[2014-11-24 12:36] sinfomicien commented on #24
Corrected in 0.2.7

[2014-11-24 12:36] #24 closed, assigned to sinfomicien

[2014-11-24 13:19] sinfomicien opened #29 "Audit plugin installation, always launched"
When enabling audit plugin, the installations scripts are played each time.

[2014-11-24 13:21] sinfomicien opened #30 "Galera node not sorted"
So each time the search is executed, nodes are not in the same order, and the configuration file is re-written

[2014-11-24 13:23] sinfomicien opened #31 "ChefSpec coverage of Galera on CentOS/Debian miss some checks"
ie:
directory[/var/log/mysql] on centos
template and execution of preseeding on debian

[2014-11-26 10:11] sinfomicien commented on #30
Ok, it works

[2014-11-26 10:11] #30 closed, assigned to sinfomicien

[2014-11-26 10:11] sinfomicien commented on #31
It works too.

[2014-11-26 10:11] #31 closed, assigned to sinfomicien

[2014-11-26 10:11] sinfomicien commented on #28
Really annoying for internal use. Will work on it for the next release

[2014-11-26 14:29] sinfomicien commented on #29
it works now

[2014-11-26 14:29] #29 closed, assigned to nobody

[2014-11-26 14:29] sinfomicien commented on #28
It work now.

[2014-11-26 14:29] #28 closed, assigned to sinfomicien

[2014-11-26 17:35] mfouilleul opened #36 "Audit Plugin Installation makes MariaDB core dump"

[2014-11-27 12:47] #36 closed, assigned to nobody

[2015-01-07 17:37] kramvan1 opened #40 "resources that deal with passwords need the sensitive flag"
For example, there are several places calling the command line and passing the root password in the clear:

https://github.com/sinfomicien/mariadb/blob/935522ed6e6bae0749b0ecb5a5d713bbf08a02d3/providers/replication.rb#L56
and line 70, 84, 98.

https://github.com/sinfomicien/mariadb/blob/935522ed6e6bae0749b0ecb5a5d713bbf08a02d3/recipes/_redhat_galera.rb#L39

https://github.com/sinfomicien/mariadb/b

[2015-01-07 17:39] kramvan1 commented on #40
Pull request 41
https://github.com/sinfomicien/mariadb/pull/41

[2015-01-09 13:21] sinfomicien commented on #40
I will review your code tonight, but i just discovered this option. Thx for your PR!

[2015-01-09 19:14] sinfomicien commented on #40
I close the issue, as the PR is merged.

[2015-01-09 19:14] #40 closed, assigned to nobody

[2015-01-12 10:19] sinfomicien opened #43 "TypeError: no implicit conversion of Fixnum into String when using mariadb_replication and master_log_pos"
master_log_pos is declared as an Interger in the resource... But used as a String in the provider. Just had a to_s will resolve the bug.

[2015-01-12 10:33] sinfomicien opened #44 "Add more tests to replication LWRP"
As we already have 2 problems which could have been caught with more serious tests.

[2015-01-12 10:51] sinfomicien commented on #43
It's corrected, merge ok

[2015-01-12 10:51] #43 closed, assigned to sinfomicien

[2015-01-14 16:48] mfouilleul opened #48 "Load the needed plugins at startup"
We should manually load plugins with "plugin-load" in my.cnf to avoid errors during configuration parsing.

[2015-01-27 09:19] sinfomicien commented on #48
Ok closed it as it's working with your PR.

[2015-01-27 09:19] #48 closed, assigned to mfouilleul

[2015-02-21 18:38] rferguson10 opened #56 "Add support for Centos7"
In client.rb it is setting the client package name to be MariaDB-client when under the 'rhel' section. Although using yum itself, i can see that to install the maridb client it is simply "maria".

Right now I'm getting an error Error executing action `install` on resource 'yum_package[MariaDB-client]'

[2015-02-22 19:45] sinfomicien commented on #56
Hi, i'm reviewing the PR #55 ... I think it will correct your problem. If everything good in i will merge it soon.

[2015-02-24 16:06] kramvan1 commented on #56
Looks like #55 fixed the issue.  When will be see latest version tagged and released out on the supermarket?

[2015-03-02 18:02] kramvan1 commented on #56
@sinfomicien  Just wondering again, would like to see 0.3 tagged into supermarket, anytime soon?

[2015-03-24 14:58] jjasghar commented on #56
We have a downstream cookbook and [dependency](https://blueprints.launchpad.net/openstack-chef/+spec/mariadb-support) for OpenStack needing this pushed and tagged to 0.3.0, can you help us out?
![selfie-0](http://i.imgur.com/pKrcAAA.png)

[2015-03-24 15:47] sinfomicien commented on #56
Hi all, sorry for the delay... @mfouilleul did the job to publish the latest version to supermarket (thx to him)

Thx @yinym for the PR, and my apologies for being late to release :)

[2015-03-24 15:47] #56 closed, assigned to nobody

[2015-03-24 16:06] jjasghar commented on #56
Thanks!

[2015-03-26 19:51] nshenry03 opened #58 "Can't install MariaDB-client on Amazon Linux (ami-1ecae776)"
I tried to use this cookbook to install mariadb::client on a new Amazon Linux server; however, it failed to install the MariaDB-client package.
### Steps To Reproduce

Spin up a new Amazon Linux Server... For Example:

[code]
### Expected Result

Server should finish installing w/o errors and a working MySQL Client installed.
### Actual Result

Chef client fails to run:

[code]
### Cause

In https

[2015-04-07 15:05] sinfomicien commented on #58
Could propose a PR directly on the base code of the cookbook please (to adapt the platform) ?

[2015-04-08 11:32] bendodd opened #60 "Provide configuration to create Galera cluster using Vagrant"
It seems useful to have an multi-node Galera cluster running locally in a multi-node Vagrant environment. To do this I would like to devise and commit back:
1. A pull request to allow Chef Solo to be used (currently by defining the cluster IPs manually as opposed to using the search functionality of Chef Server/Zero e.g. https://github.com/armakuni/mariadb/commit/0f13f6eb1ae37203047b03c4e0aa3c181e

[2015-04-17 10:19] sinfomicien commented on #60
Here you will find more documentation on Galera Specific case:

https://github.com/sinfomicien/mariadb/blob/master/galera.md

Will merge the info from the README about Galera into it soon. Does it sound good to help you ?

[2015-04-29 15:11] martinb3 opened #65 "Do not save passwords to the node object"
Using an attribute for the root password encourages users of this cookbook to set their own root passwords at a higher precedence level, so they can be sure their attribute value is merged over the default attribute value.

[code]

This means when they do a `normal` or `node.set` of the same attribute, it ends up being saved back to the chef server in plain text. This cookbook should support readi

[2015-04-29 15:11] martinb3 commented on #14
https://github.com/sinfomicien/mariadb/issues/65 would also apply here.

[2015-05-13 20:57] mstyne opened #66 "mariadb_configuration template uses current cookbook as template source; documentation issue"
When defining a `mariadb_configuration` resource, the template resource in `configuration.rb` references `new_resource.cookbook`, which uses the name of the calling cookbook, which typically(?) isn't `maraidb`, and by default, doesn't have the templates in use defined.

[code]

Changing the value to:

[code]

resolves this issue. Additionally, the documentation referencing the `option` hash as:

[

[2015-06-01 16:57] sbcas opened #67 "CentOS 7 service naming inconsistency"
The CentOS 7 package for MariaDB installs mariadb.service at /usr/lib/systemd/system/mariadb.service which causes breakage as the cookbook expects the 'mysql' service to exist.

As a stopgap, the default can be overridden, but the cookbook should expect 'mariadb' instead of 'mysql' for CentOS 7 (and any other flavors that follow the same convention).

[2015-06-16 10:23] sinfomicien commented on #67
Hope it's fixed with your PR.

[2015-06-19 17:15] BarthV opened #70 "add sensitive option to galera cookbook resources"
https://github.com/sinfomicien/mariadb/blob/v0.3.0/recipes/galera.rb#L120

This FC issue is now closed and merged : https://github.com/acrmp/foodcritic/issues/233

please add sensitive where it needs to be :)

Thanks for this cookbook !

[2015-06-30 14:47] Rockstar04 opened #74 "Server and Galera Feature Parity"
I'm not sure if its intended or not, but just looking at the recipes it seems that the standard server recpie has some features that are not avalible to the galera recipe.

Things like:
- [ ] [moving the data_dir](https://github.com/sinfomicien/mariadb/blob/fb252d794870ae978d3ada36eb358db957e213cb/recipes/server.rb#L50)
- [ ] [changing the root password after installation](https://github.com/sinfo

[2015-06-30 14:56] Rockstar04 commented on #70
I just put in a PR for this, I also added sensitive to the preseed template resource since it has root passwords as well, can you take a look a the PR and see if there are other resources that should have the sensitive flag set on?

[2015-07-03 04:07] kevsgithub opened #76 "service is restarted every run if not localhost"
setting node.default['mariadb']['mysqld']['bind_address'] causes the service to be restarted on every chef run.

INFO: Processing execute[mariadb-service-restart-needed] action run (mariadb::server line 81)

  only_if do
    mariadb_service_restart_required?(
      '127.0.0.1',
      node['mariadb']['mysqld']['port'],
      node['mariadb']['mysqld']['socket']
    )
  end

Changing '127.0.0.1' to n

[2015-07-27 16:05] #67 closed, assigned to nobody

[2015-07-28 09:43] sinfomicien commented on #76
Seems, you're right... Could you please send a PR ?

[2015-07-28 09:47] sinfomicien commented on #74
For the data_dir... You can't do it easily as your cluster is up & running. If you want to change the data_dir as your cluster is running, it's very tricky... We try to do it here, but never succeed. If you want to challenge yourself, please do a working PR :)

 For the root password, you can port it, probably a miss from my side :) Thx

[2015-07-28 09:49] sinfomicien commented on #70
Seems the foodcritic i use in Travis is not supporting the feature. If the latest Gem is OK, could you (@Rockstar04) update the Gemfile to the good version (So foodcritic will not warm in Travis).

[2015-07-28 09:50] sinfomicien commented on #66
Please submit a PR, seems you're right :)

[2015-07-28 09:52] sinfomicien commented on #60
The PR #64 close this ticket.

[2015-07-28 09:52] #60 closed, assigned to nobody

[2015-07-28 11:34] sinfomicien commented on #76
Will do it, as i need to add it to galera by the way

[2015-07-28 12:20] sinfomicien commented on #76
Waiting for PR #78 to pass tests

[2015-07-29 17:33] sinfomicien commented on #66
I just corrected the mariadb_configuration problem. I let you submit a PR concerning the documentation :)

[2015-07-30 12:53] lmeyemezu opened #80 "mariadb recipe on ubuntu"
I encounter the error below when installing mariadb recipe on ubuntu

tarting Chef Client, version 12.4.0
resolving cookbooks for run list: ["mariadb::server"]
Synchronizing Cookbooks:
- apt
- mariadb
  Compiling Cookbooks...
#
# Recipe Compile Error
## Chef::Exceptions::RecipeNotFound

could not find recipe default for cookbook apt
## Cookbook Trace:

  /var/chef/cache/cookbooks/mariadb/recipes/r

[2015-07-31 17:53] mstyne commented on #66
@sinfomicien Sure, I can put together a pull request for the documentation. Thanks :)

[2015-08-07 07:52] sinfomicien commented on #66
As the PR is merged, i close the issue. Thx for your help!

[2015-08-07 07:52] #66 closed, assigned to nobody

[2015-08-07 07:53] sinfomicien commented on #76
The bug is fixed in the latest mariadb cookbook version. Thx for your bug submission

[2015-08-07 07:53] #76 closed, assigned to sinfomicien

[2015-08-07 07:56] sinfomicien commented on #80
As the metadata reference the apt cookbook as a dependency... I do not understand. Which version of Ubuntu do you use ? So i can test it. Thx

[2015-08-07 11:51] kevsgithub commented on #76
Thank you for your efforts.

[2015-08-07 12:30] Esysteme opened #83 "MariaDB 10.1"
Could you take MariaDB 10.1 in consideration ?

repo for 10.1 are available

[2015-08-11 07:58] sinfomicien commented on #83
We are working on it ! We can expose our dev branch if you want to test...

[2015-08-11 09:05] Esysteme commented on #83
yeah I would

[2015-08-23 21:07] kevsgithub opened #84 "Changing ['mariadb']['mysqld']['options'] should restart mariadb"
After installing MariaDB I needed to change some msqld options in a recipe. eg.
node.override['mariadb']['mysqld']['options'] = {
  'max_connect_errors' => '100'
}
The update was correctly applied to my.cnf however the service was not restarted.
Tested on '0.3.1'

[2015-08-23 23:20] kevsgithub commented on #84
I've checked this again.

[code]

[2015-08-24 08:55] mfouilleul commented on #84
It seems to risky to force the restart when attributes are overrided. If you don't use chef environments, all the MySQL could be restarted at the next chef-client run it can be a mess if you don't have planned this scenario. However, we maybe could handle the variable modifications for the DYNAMIC ones with the `set global` command in the recipe.

Currently when we want to change MySQL variables o

[2015-08-24 21:34] kevsgithub commented on #84
I can respect that. Thank you.
One of our apps needs ansi quotes set before it will work. I'll try adding a reboot resource to our install wrapper. We also wouldn't update these settings once the node is running.

I'll close as wont fix.

[2015-08-24 21:34] #84 closed, assigned to nobody

[2015-08-24 21:53] kevsgithub commented on #80
I'm running this cookbook on ubuntu 15.04 with apt cookbook 2.6.1 without any issues.
May I suggest that the original poster forgot/mislaid the apt dependency?

If @lmeyemezu is running a different version of ubuntu I can test.

[2015-08-25 08:17] lmeyemezu commented on #80
Hi  nicolas,
sorry for the delay..
apt dependency was effectively forgotten.
The issue can be closed.
Regards

Cordialement,
Meye-Mezu Lylian
Tel.:06 98 93 13 14

2015-08-24 23:53 GMT+02:00 kevsgithub notifications@github.com:

[2015-09-03 14:36] miguelaferreira opened #86 "Package installation fails on Centos7"
Installing server on a Centos7 box produces the following error message:

[code]

Trying to install the package pulled in by the recipe fails as well:

[code]

I've been installing MariaDB on Centos7 using the `mariadb`, `mariadb-server` and `mariadb-libs`yum packages.

[2015-09-03 14:54] miguelaferreira commented on #86
Closing since it is already fixed in master

[2015-09-17 17:23] chewi commented on #14
I just spent a good half an hour trying to figure out why my `'foo'@'%'` GRANT wasn't working and eventually discovered it was due to the presence of the anonymous login. This is very annoying.

[2015-09-24 09:53] #86 closed, assigned to nobody

[2015-10-21 09:25] sinfomicien commented on #83
Did not fogot! But a lot of work let me far from working on release my branch. Will try to do it before the end of next month

[2015-10-21 09:25] sinfomicien commented on #80
Thx for your feedback!

[2015-10-21 09:25] #80 closed, assigned to nobody

[2015-10-23 08:02] explody opened #90 "Node search in galera setup results in excessive log output"
In galera.rb, after the node search is done, this snippet outputs a log entry (line ~69)

[code]

Which results in the array of galera_cluster_nodes being dumped into the log, including the full structure of node attributes - over 200K of text in our case.

It's possible that we could suppress this with log level tweaking but I'm not sure that 200K of unformatted ruby hash would ever be useful in

[2015-10-25 05:39] explody opened #91 "Default repository use results in fetching the repo key on every chef-client run"
This one is fairly important as every maria install using this feature will be hitting the ubuntu keyserver on _every_ run.

 The apt repository as defined in repository.rb specifies the key as

[code]

But this will never match as the apt cookbook checks for preexisting keys like this:

[code]

Fingerprint output from 'apt-key finger' is all uppercase and there is no preceding '0x'.  The key shou

[2015-12-01 19:04] malibuworkcrew commented on #65
+1, putting passwords in data bags is required in many companies

[2015-12-10 08:23] sinfomicien commented on #83
engel75 did a great job... Some tests to fix in master, and docs to adapt. But you can test 10.1 using the master branch now

[2016-01-01 14:57] askobara commented on #86
I have the same error
Installing from master not helps

[2016-01-05 22:11] ghost commented on #58
This is also a problem on CentOS 7.2.  I have worked around it by setting

[code]

and then installing the mariadb-server and mariadb packages directly in my wrapper cookbook.  This also taught me that the mysql2_chef_gem cookbook requires the mariadb-devel yum package.

[2016-02-02 00:38] patcon commented on #86
Ditto. No `mariadb-shared` package in the repo, when installing v10.0

[2016-02-02 03:07] askobara commented on #86
@patcon try to add this line into your `attributes/default.rb`
`default['mariadb']['use_default_repository'] = true`
it's helps me

[2016-02-02 03:35] patcon commented on #86
thanks @askobara! I'll try it out

[2016-02-12 08:29] rodel-talampas opened #95 "MariaDB Not Starting after Chef Installation on Lubuntu"
OS: Lubuntu
MariaDb Version: 10.0

I tried running this recipe and did some overrides of some attributes but i am having this error:
10.6.16.15   \* template[/etc/mysql/debian.cnf] action create
10.6.16.15     - update content in file /etc/mysql/debian.cnf from f9b98e to 751c0c
10.6.16.15     - suppressed sensitive resource
10.6.16.15   \* execute[correct-debian-grants] action run[2016-02-12T15:33

[2016-04-04 20:08] sinfomicien opened #100 "Call For Contribution"
Hi dear community!

Since a while, i have less and less time to maintain this cookbook. For a lot of good reasons :)

At my job, i do less and less code... More and more management!
And at home, 2 children and 1 wife keep me occupied.

If you feel you wanna help me, i will let you manage the repository! Please write me in PM.

Thx to everybody!

[2016-04-05 11:33] joerocklin commented on #100
Hey @sinfomicien - there doesn't seem to be a way to PM in github anymore. I can't promise a lot of time to help manage things, but could be another pair of eyes to review PRs and issues.

[2016-06-14 14:10] pedro-stanaka opened #105 "Ubuntu 16.04 - Can't login with chosen root password"
Hello,

I've tried to set the password in my `attributes/default.rb` file like this:

[code]

But when I try to use the mysql_database resource from database cookbook to login in to mysql and create new database MariaDB give me the message:

**"ERROR 1698 (28000): Access denied for user 'root'@'localhost'"**

I can only login with:

[code]

And then I have to issue the following commands (found in

[2016-06-14 15:54] joerocklin commented on #105
What if you set (or try) the values (in the [attributes file](https://github.com/sinfomicien/mariadb/blob/9a7d32f72195bde5f28344e50ab24f34f838d2b0/attributes/default.rb#L147)):

[code]

Ubuntu uses the [`_debian_server`](https://github.com/sinfomicien/mariadb/blob/9a7d32f72195bde5f28344e50ab24f34f838d2b0/recipes/_debian_server.rb) recipe and might use the debain password setup (not sure - haven't

[2016-06-14 18:46] pedro-stanaka commented on #105
Setting those variables did not solve my problem as well. But now I saw that the password is not being set. I destroyed my Vagrant vm and provisioned it again. When I enter using

[code]

The only line I see in mysql.user is:

[code]

Here is my chef JSON;

[code]

The strangest part of it all is that during provisioning the recipe output for me:

[code]

Giving the impression that it is setting t

[2016-06-22 17:09] pedro-stanaka commented on #105
I don't know how it was working on Ubuntu 14.04. But my problem went away as soon i put:

[code]

In my attributes/default.rb. Thanks for the assistance @joerocklin

[2016-06-22 17:09] #105 closed, assigned to nobody

[2016-06-24 15:44] sinfomicien commented on #91
I push a fix as you said (not so late, 8 months is fair ? ;) )
Will create a version with the change, as soon as possible. In the meantime, you can try the master version in this git repo.

[2016-06-28 09:02] goatherd opened #107 "Ubuntu 16.04. compatibility"
Found two issues when setting this up for Ubuntu 16.04.

The packed client dev package is called `libmariadb-client-lgpl-dev`.
It should be possible to modify the hard-coded `libmariadbclient-dev` through configuration.

Ubuntu 16.04. comes with native mariadb 10.0 packages.
It will install but there are warnings from the cookbook stating the OS does not have the packages.

[2016-06-28 09:25] sinfomicien commented on #107
Hi goatherd !

Is it possible for you, to prepare a PR for that ? I'm really out of bandwith to work on your issue for now... And i know it can take months before i found time to work on it !

Thx in advance :)

[2016-06-28 17:45] goatherd opened #108 "Missing quotes in mariadb_grants template"
https://github.com/sinfomicien/mariadb/blob/e842e253a077ee7935b13558da0e0b2a636ca98d/templates/default/mariadb_grants.erb#L24 should quote `$user_exists` to avoid `[execute] /etc/mariadb_grants: line 13: [: ==: unary operator expected` message on run.

Would break following steps within the template but will not do other 'harm'. Only occurs if there is nothing to remove.

[2016-06-28 17:51] goatherd commented on #107
Hi Nicolas,

only dumping notices for now testing a new deployment. Having those notes often helps me determine issues faster so maybe someone else will profit from it until a fix is demanded/ provided.

As there still are several weird issues with Ubuntu 16.04. and some discussion with the MySQL 5.7 incompatibility it is not to certain that I will rely on the cookbook for now. If the team chooses

[2016-06-28 18:04] goatherd commented on #105
The problem here is with the authentication plugin: the password is rejected and in this case (`unix_socket`) the uid of the system user determines the accessible mysql account. Given the record above you can login as `root` user - with any password or without - but not from any other system account.

[2016-06-28 18:06] pedro-stanaka commented on #105
@goatherd  Actually I can't login with password, so I gave up and executed a script with "sudo mysql -uroot". I was trying to use the database cookbook with mysql resources.

[2016-06-28 18:46] goatherd commented on #105
@pedro-stanaka Tried the same and will likely surrender to it..

[2016-06-28 18:53] goatherd opened #109 "No warning on password-less authentication plugin."
Related to #105 and trying to get the database cookbook running on Ubuntu 16.04. I found the root user unable to update the `password`.

The issue lies with the package source that init the root user to allow `unix_socket` authentication only. With that any attempt to provide a password is void and any third-party recipe/ script depending on the password to be set will fail.

As there are various

[2016-06-28 18:57] goatherd commented on #109
Really unsure if this is an issue to be fixed or just a notice to people - like me - that waste time to discover that passwords do not work on some plugins.

Maybe could allow to set authentication plugin directly.

[2016-06-28 19:36] goatherd commented on #105
@pedro-stanaka likely to late but for the database cookbook - following an old postgresql hint - the following works:

[code]

This is so much less pain: no password, no weird hacking to figure out root passwords, no pma-option to avoid root login.

[2016-06-29 10:55] pedro-stanaka commented on #105
Wow, I had given given up on this, but with this piece of code i was able to connect with mysql2 gem in database. Very nice!! Thank you @goatherd !!!

[2016-06-29 10:56] pedro-stanaka commented on #109
:+1:  on warning this. I spent some time trying to figure out how to authenticate using mysql2 gem.

[2016-08-18 12:35] stiller-leser opened #113 "Access denied for user 'root'@'localhost' (using password: NO)"
Hi,

I'm trying to get this set up using the Vagrantfile. But I get the following:

The ioctl-part is the Ubuntu 16.04 screw up (even though I am using the bento image). This is however just a message. It's crashing because of the other error, which I cannot really pin down.

I set the following variables in the default.rb:

Any hint as to where the error lies is appreciated. I'm confused since Ch

[2016-08-19 15:28] stiller-leser commented on #113
Hey,

late Friday discovery: The issue was the rubocop invocation in the Vagrantfile. If you set a database password during the chef run you first need to configure this in the Vagrantfile like so: `db_config.vm.provision 'shell', inline: "mysql -u root --password=testtest -e`

That took me way to long to discover. I'll leave the issue open in case anyone fancys a pull request.

Enjoy the weekend,

[2016-08-29 13:15] Liam-Power opened #114 "MariaDB version 10.0.27 build failing Ubuntu Trusty64"
There was a new release of MariaDB 5 days ago which seems to have broken the install process. I have updated from 0.2.12 to 0.3.1 to see if that fixed the issue and it still hasn't.

It also seems that you cannot specify a minor version of MariaDB to use, which would be useful in this case.

Here are the settings I am using:
 "mariadb" : {
      "use_default_repository": true,
      "server_root_p

[2016-08-30 13:45] PowerKiKi commented on #91
Nevermind, I was confused. Sorry for the noise.

[2016-08-30 14:17] PowerKiKi commented on #107
Also trying to converge on Ubuntu 16.04 and unfortunately stucked with a repository key that is apparently missing. Without that key, packages are not installed. But the following command allow to continue:

[code]

The thing is I don't understand where this key is coming from. I thought the mariadb repository key was CBCB082A1BB943DB ?

@goatherd did you not encounter such error ?

[2016-08-30 17:24] goatherd commented on #107
@PowerKiKi the only issue with the keyserver I know of is proxy-related: some old VM installs rejected the keyserver request. Not sure that was a host routing issue or port forwarding related.
Never had any such issues with server deployments nor with MariaDB.

Not being able to update or install from the base repository is rather weird. Are you sure the network is working and unrestricted?

Also

[2016-08-31 22:01] jwmarshall commented on #108
Ran into the same thing just now. It's really bothersome that this also doesn't stop the chef run.

The `$user_exists` variable as well as the value on the right side of the comparison should both be double quoted. Further to that, the script should be executed with the `-e` flag such that its exit code is accurate.

[2016-09-03 10:40] Liam-Power commented on #114
I'm closing this as it appears to work fine now. I'm guessing it was to do with the MariaDB's repo.

[2016-09-03 10:40] #114 closed, assigned to nobody

[2016-09-04 18:54] jwmarshall opened #117 "mariadb_configuration provider should notify restarts to the mysqld service"
Maybe there is a good reason why this doesn't already? A good example of this, besides when you're dropping in custom configuration files, is the `30-replication.conf` that is created after the server is installed but since the server is never restarted so `server_id` never takes affect causing issues with master/slave creation.

[2016-09-15 00:32] damm commented on #107
I didn't really have much of a problem with this cookbook on 16.04 but I ran into the issue with 10.0 being shipped; just made my wrapper call the repository to be added and .. it worked fairly painlessly

[2016-09-15 01:26] PowerKiKi commented on #107
Thank you all for your feedback and sorry for hijacking this thread. I'll give another try in the coming weeks and open a separate issue if I can better pinpoint what's going on.

[2016-09-15 06:59] damm commented on #107
@PowerKiKi no problem I had to modify the cookbook to handle the different apt key.  We seem to be using a hardcoded key :(

[code]

[2016-09-16 18:34] jwmarshall commented on #100
Seems like you guys really need some help with this. I'm (for better or worse) getting more involved with mysql (specifically the mariadb variant) and I've been a chef user for 5+ years. I cant promise limitless cycles to work on this but I'd be more than happy to help out.

[2016-09-16 19:58] sinfomicien commented on #100
Dear jwmarshall, you've been added as a collaborator for both the repository, and for the cookbook on supermarket! We need help, you're welcome if you want to ! :)
Thx a lot

[2016-09-17 20:05] jwmarshall commented on #100
@sinfomicien I don't seem to have the ability to merge pull requests.

Edit: Nevermind I didn't realize I had to accept an invite.

[2016-11-11 10:47] alappe opened #124 "Disable replication log"
Aloha,

am I overlooking a (simple) way to disable the replication log? One approach would be to delete the generated config after the `include_recipe 'mariadb::server`, and then reload it, but I think that the whole replication log could be optional by config, couldn't it?

[2016-11-15 18:34] mjuszczak commented on #100
Chef needs an actively maintained MariaDB cookbook. Per a point @jcotton1123 made to me today, Puppet has a single MySQL module that works for MySQL, MariaDB, and (I assume) Percona.
But back in 2013, @sethvargo wrote on this ticket (https://tickets.opscode.com/browse/COOK-3487):

His points are valid.

I'm assuming this cookbook was that alternative community cookbook, and @sinfomicien, you've do

[2016-11-15 21:57] sinfomicien commented on #100
Dear Matt & Jesse... You're welcome on the project :)
You've been invited as collaborator on the repo... And as collaborator on the supermarket!

[2016-11-15 22:16] Paladin commented on #109
Makes it more complex to create identical systems from the cookbook for Ubuntu and other (like CentOS) distros that don't do it. Not to mention the effect on localized testing using vagrant vm instances (which is where I ran across it and how I ended up coming here) before turning the cookbooks loose in production.

Worse, it encourages unsuspecting people trying to achieve uniformity across syste

[2016-11-15 23:50] josephholsten commented on #100
@sinfomicien sounds like you've had the same idea we had. If there's anything https://github.com/chef-brigade/ can do to help, let us know. Especially happy to help with admin overhead, and we've got folks who are excited about contributing.

[2016-11-16 15:35] Paladin commented on #83
Not sure if you just didn't notice this was still open, but I've been using the cookbook to install 10.1 from the mariadb servers now for a while, so I think maybe this is closable.

[2016-11-17 14:37] sinfomicien commented on #100
@josephholsten : I always need help! To start, i give you access to the repo ! Will try to give you access to supermarket tomorrow... What's your preferred way of communication to go further ? Slack/Hangout, Skype, mail, other ? :)

[2016-11-17 15:23] jwmarshall commented on #100
I must admit I've also fallen behind in helping. Unfortunately I have some (rather insane) deadlines approaching. I should be back in the swing of things mid-December though.

I think putting together a Slack team or something would be great for coordinating our efforts and discussing where we want to take the development of this cookbook.

[2016-11-17 19:03] mjuszczak commented on #100
@jwmarshall Agreed. Or to @josephholsten's point, might make sense to put this cookbook under the management of chef-brigade? They already manage related cookbooks, like MongoDB and PostgreSQL. I'm happy to help maintain it either way.

[2016-11-17 19:36] jwmarshall commented on #100
Im not familiar with those guys, and I don't believe I use any of their cookbooks, but I'm certainly not opposed. If they already have a communication stream as well maybe we should all join forces?

[2016-11-18 16:08] mjuszczak commented on #100
@jwmarshall I am not familiar either; however, there seems to be some energy there. @sinfomicien, what would you prefer?

[2016-11-18 20:27] JCotton1123 commented on #100
I wish there was a better way to communicate then this...

We, the maintainers, need to be careful about versioning. I was looking at releasing a new 0.3.x version of the cookbook however master contains at least one set of breaking changes - adding a priority to the config file names (ex: innodb.cnf becomes 20-innodb.cnf). What is currently in master likely needs to be released as 1.x. I am going

[2016-11-22 18:59] josephholsten commented on #100
FYI: chef-brigade has been renamed to sous-chefs, and lives at https://github.com/sous-chefs

Currently we're working to put together some standards (just recommendations, really) and tooling to help. We're also about to start building some test infra for people to run test-kitchen on.

But don't feel like you're got to relinquish anything, we're happy to help no matter where the cookbook lives. F

[2016-11-27 19:01] mjuszczak commented on #100
Anyone else have any thoughts?

[2016-12-08 20:46] joraff commented on #107
Doesn't look like the above made it into a PR. May I?

[2016-12-08 20:49] #108 closed, assigned to nobody

[2016-12-08 20:49] goatherd commented on #108
PR works for me so this is fixed.

[2016-12-09 00:41] damm commented on #107
@joraff if it's not already done feel free.

I believe the key is different for each distribution so ideally if we are to deliver defaults; it would need to have some platform_for_values or some magic to give the right key to find per distro.

[2016-12-12 22:01] Paladin opened #128 "New Datadir + SELinux issue"
When specifying a different data directory from the default one on a system running SELinux, there's a problem that arises:

It's caused by the process for creating the new data dir (essentially by not changing the config but moving the data and then creating a symbolic link). The package installation puts the correct SEL label on the default data directory, but that gets wiped out by the move-and

[2016-12-13 16:34] Paladin commented on #128
As a follow-up, there *is* a workaround for the crash. Before including the mariadb::default recipe:

`bash 'restore selinux context after creating link' do`
`  code "restorecon -v #{node['mariadb']['mysqld']['default_datadir']}"`
`  action :nothing`
`  subscribes :run, 'bash[move-datadir]', :immediately`
`end`

Unfortunately, the workaround depends upon internals in the mariadb:server recipe (spe

[2017-01-20 09:39] cdelacruzpinto opened #130 "Documentation not displaying correctly"
The attributes are not printing correctly in the supermarket documentation.

[2017-01-28 00:42] shoekstra commented on #100
We use this cookbook a fair amount internally and it would be a shame if it wasn't kept up to date. It looks like a few people have already put their hands up to help, but if still looking for someone I am happy to assist.

[2017-02-28 23:27] josephholsten commented on #100
@sinfomicien I've gotten a request to fork this cookbook into sous-chefs so more people can have commit access. I'd really like to avoid that. Do you think you can get another person or two to have commit access? Or would you be okay with transferring this cookbook to sous-chefs?

I'm watching this thread, and would be happy to chat in the chef community slack or in chef IRC.

[2017-03-01 20:09] josephholsten commented on #100
@sinfomicien sous-chefs have had a chat and put together this process for if we have to create a hard fork: https://github.com/sous-chefs/meta/blob/master/docs/forking.md

So we're going to wait until 2017-03-10 before letting anyone create a hard fork. I really hope to hear from you before then so we can avoid that.

To anyone wanting help getting their PRs tested, we've created a soft fork at ht

[2017-03-01 20:37] josephholsten commented on #100
well, I feel like a total jerk. apparently /I/ have a commit bit. Honestly, I don't know what I'm doing with this cookbook, so I'm going to be trusting @shoekstra to review things that aren't obvious.

The offer to transfer to sous-chefs is still on the table, but we absolutely will not hard fork while someone with a commit bit is still around.

[2017-03-01 22:24] mjuszczak commented on #100
I’m happy to pitch in with reviews as well. I haven’t had a chance to work on resolving outstanding issues, but I also have a commit bit, and hope to have more time soon.

[2017-03-02 00:21] josephholsten commented on #100
@mjuszczak well I realized that I don't actually have perms to release the cookbook to supermarket, but I think you do. Hopefully @shoekstra and I can knock down some of the backlog to make it worth releasing soon.

[2017-03-02 12:16] liamdawson commented on #107
I had to mess around with keys to get an installation happening, was having issues with this cookbook as a transitive dependency. I think the winner was this one:
[code]
but I haven't confirmed yet.

[2017-03-02 16:07] mjuszczak commented on #100
OK! I will try to pitch in some cycles soon, too.

[2017-03-03 13:48] PowerKiKi commented on #107
I never could pinpoint exactly what was going on since last September, but my solution also involved using the key `F1656F24C74CD1D8` for a manual install via `apt_repository` resource. This was the easiest I could come up with without messing too much with this cookbook. In the end that seems to be the same as @liamdawson.

[2017-03-04 01:47] damm commented on #107
The key changes based on what distro/version of distro you run.  :( If that helps

[2017-03-08 00:00] #107 closed, assigned to shoekstra

[2017-03-11 10:46] shoekstra commented on #70
Fixed, `sensitive` property has been added where appropriate.

[2017-03-11 10:46] #70 closed, assigned to nobody

[2017-03-11 11:59] #90 closed, assigned to shoekstra

[2017-03-11 12:00] shoekstra commented on #90
This has been moved to the debug log, so you shouldn't see this anymore.

[2017-03-11 13:47] shoekstra commented on #65
After much thought I'm going to close this as `won't fix`.

The attribute is like that so you may choose to populate it however you like, whether it be plain text, data bag, encrypted data bag, chef-vault, hashicorp-vault, etc.  As you can see there is a number of options (and perhaps more in the future?) to load the attribute and it would add extra overhead to maintain all possible ways of doing

[2017-03-11 13:47] #65 closed, assigned to nobody

[2017-03-12 00:19] shoekstra opened #141 "rewrite mariadb_configuration as a custom resource"

[2017-03-12 00:19] shoekstra opened #142 "rewrite mariadb_replication as a custom resource"

[2017-03-12 00:19] shoekstra opened #143 "drop dependency on apt and yum cookbooks"

[2017-03-12 00:24] shoekstra opened #144 "switch to inspec for tests"

[2017-03-12 00:45] shoekstra opened #145 "update README to modern template"

[2017-03-12 00:52] shoekstra commented on #95
That is interesting as I would expect Lubuntu to operate the same way Ubuntu does, and we fully support Ubuntu.

I'll take a look into this and see if I can resolve it before the next release.

[2017-03-12 00:57] shoekstra commented on #117
I understand the reason there are no notifications to restart the service is because you won't want to end up in a position where by some chance all of your cluster nodes are restarted at the same time, meaning quorum is gone and cluster members cannot start.

I imagine the idea was to manage the configuration using Chef but to have a more hands on way of restarting the services, either hand by or

[2017-03-12 01:12] shoekstra commented on #15
MSIs are available and so is a chocolatey package.

Shouldn't be too hard to make this happen.

[2017-03-12 01:13] #91 closed, assigned to nobody

[2017-03-12 01:17] shoekstra commented on #83
I'm going to close this one for now. It's possible to install 10.1 by setting `['mariadb']['install']['version'] = '10.0'` and according to @Paladin this is working without error.

In v2.0.0 we will default to installing `10.1`.

[2017-03-12 01:17] #83 closed, assigned to shoekstra

[2017-03-12 01:18] shoekstra opened #146 "default to install mariadb 10.3"

[2017-03-12 01:22] shoekstra opened #147 "add Windows support"
https://chocolatey.org/packages/mariadb - `chocolatey_package` is available from Chef 12.7

This will fix #15.

[2017-03-12 12:18] shoekstra commented on #95
I was able to replicate the problem.

When converging for the first time Chef fails, second time it failed too, I logged in and manually started the mysql service and then was able to converge successfully.

[2017-03-30 22:11] shoekstra commented on #142
Done in #151.

[2017-03-30 22:11] #142 closed, assigned to nobody

[2017-04-07 11:24] shoekstra opened #155 "Should we enable SELinux for RHEL family integration tests"
This cookbook should work with SELinux set to `enforcing` and does contain resources to make it play nice, so we should try to include integration tests that make sure these SELinux related resources run correctly (e.g. the service is started after moving the data or binlog directories).

The question is: do we create additional suites for testing SELinux functionality and only include the RHEL fa

[2017-04-07 15:03] dimsh99 commented on #155
I believe setting SELinux to enforcing for RHEL platforms sounds reasonable.

[2017-04-19 17:25] shoekstra commented on #128
This has been resolved via #153

[2017-04-19 17:25] #128 closed, assigned to nobody

[2017-04-19 21:15] shoekstra commented on #100
Issue has been open over a year and now there is more active development happening.  No reason to keep this open longer.

[2017-04-19 21:15] #100 closed, assigned to nobody

[2017-04-21 16:50] rmoriz opened #159 "New release, please?"
Can you please cut a new release so that https://github.com/sinfomicien/mariadb/commit/bdac4c0256246fc588b233d0ad6c2a799ae0efdd is available? thanks

[2017-04-21 17:15] shoekstra commented on #159
Done!

I was hoping to include #152 but it can wait.  1.4.0 has been released.

[2017-04-21 17:15] #159 closed, assigned to nobody

[2017-05-12 03:42] ockun commented on #86
@askobara, it helped to me. Thanks!

[2017-05-12 05:41] JCotton1123 opened #162 "Bug with data directory move + 10.1 + Ubuntu 16"
I haven't tracked down this error yet so I'll try to include as much info as possible. To replicate it, set the version to `10.1` and set an alternate data directory like so:

[code]

This will result in the following error:

[code]

This is failing b/c the mysql database somehow doesn't exist:

[code]

This seems to be a "recent" issue b/c the same issue does not occur with the 0.3.x branch which

[2017-05-12 09:55] shoekstra commented on #162
@JCotton1123, to confirm the issue:

With the master branch/current release:

* Using data dir move with Ubuntu 16 and MariaDB 10.0 _does work_
* Using data dir move with Ubuntu 16 and MariaDB 10.1 _does not work_

With the 0.3.x branch:

* Using data dir move with Ubuntu 16 and MariaDB 10.0 _does work_
* Using data dir move with Ubuntu 16 and MariaDB 10.1 _does work_

Is the above correct?

Are y

[2017-05-13 19:18] JCotton1123 commented on #162
Yes, I believe the above is correct however I was testing various permutations of Chef client, MariaDB version, and Ubuntu version when I was trying to track this down so it probably wouldn't hurt to re-verify the above. I'll try to do that when I have some time.

The data dir move is only during the initial bootstrap.

[2017-05-24 07:35] belsander opened #163 "Server configuration not loaded immediately"
When using both the resources `mariadb_configuration` and `mariadb_replication` I noticed that the `mariadb_configuration` modifies the proper configuration files, but mariadb does not get reloaded to load the new configuration.

This is an issue since I you need to set the 'server_id' for replication to work.

The relevant resources:
[code]
[code]

The output of Kitchen test:
[code]

[2017-05-24 20:25] shoekstra commented on #163
Hi @belsander !

First, is it possible to provide an example kitchen suite I can use to reproduce?  We have a TK test for replication that passes and curious to see why yours fails and to fix ours if it is a false positive.

Second re the service not restarting when config is updated, this seems to be by design.  It was implemented before I started with this cookbook and I assume the reason is you

[2017-05-26 06:05] JCotton1123 commented on #162
Confirming this issue appears to be specific to Ubuntu 16 and MariaDB 10.1. The issue appears to be that Chef fails to shutdown the mysql service before performing the datadir move. Chef reports `* service[mysql] action stop (up to date)` however the service is running. If I run `service mysql stop` or `systemctl stop mysql` the service does successfully stop. Guessing the issue might be related t

[2017-05-26 09:16] shoekstra commented on #162
Thanks for the investigations thus far! Interesting that it works in an older cookbook version...

Hopefully I should have some time next week to dive into this one as some colleagues are also looking for 10.1 support. We predominantly use CentOS but would be good to make it work across all platforms and do a major version bump of this cookbook.

[2017-05-29 08:00] belsander commented on #163
Sure thing, thanks for helping out!

[code]
I understand the issue with stopping the cluster, but a simple reload of the configuration would suffice here, I assume? Another way would be to set the configuration settings on the fly by using SQL statements.

Let me know how the tests turn out

[2017-05-30 22:54] shoekstra commented on #163
Thanks - is there any more than those two resources you mentioned in original post?

Work has been a bit busy last few days but hope to get on this one when I have a gap.  Sorry for the delay!

[2017-05-31 08:54] belsander commented on #163
No worries, I'll see this afternoon if I can get the other resources up here on Github.

[2017-08-18 06:43] sanatulp opened #167 "Missing privileges on sstuser"
The grant command for the sstuser misses the process privileges when using xtrabackup v2.4 as can be seen in the documentation
https://www.percona.com/doc/percona-xtrabackup/2.4/using_xtrabackup/privileges.html

[2017-08-29 16:29] DMEvanCT opened #169 "undefined method"
10.1.0.44
10.1.0.44 ================================================================================
10.1.0.44 Recipe Compile Error in /var/chef/cache/cookbooks/mariadb/recipes/_redhat_server.rb
10.1.0.44 ================================================================================
10.1.0.44
10.1.0.44 NoMethodError
10.1.0.44 -------------
10.1.0.44 undefined method `use_os_native_package?' for

[2017-10-05 18:50] #167 closed, assigned to nobody

[2017-10-05 21:48] #163 closed, assigned to nobody

[2017-10-06 08:15] shoekstra commented on #169
Hi!

Sorry for the delayed response - can you test if this is fixed in the latest version (1.5.2)?

There has been some refactoring and the tests seem to pass.  If you still have a problem please let me know how I can replicate.

Cheers,
Stephen

[2017-10-08 19:43] kierandelaney opened #174 "Cookbook tries to set root password on every run instead of first install only"
Looks like changes a few days ago no longer check whether this is a fresh install for RH7 - the post install script just repeatedly tries to set the root password regardless.

This was introduced in 1.5.2 (which has affected us as we use pessimistic locking and this is quite a large change for minor patch release).

**Edit:**
Can confirm rolling back to a hard lock on 1.5.1 fixes this in the short

[2017-10-08 21:43] shoekstra commented on #174
Hi!

Thanks for reporting this. This behaviour doesn't sound very familiar though, my experience with this cookbook has been setting/managing the root password via the cookbook.

That said I'm happy to help restore previous behaviour but I can't see how that worked before.
 Looking through v1.5.1. I found the same `execute['change first install root password']` resource [here](https://github.com/s

[2017-10-09 08:49] kierandelaney commented on #174
Hi Stephen,

Sorry I appreciate I was a bit rushed when filing the report!

We too are setting/managing the root password with the cookbook using the following attributes:

[code]

You are correct - that piece of code hasn't changed - but the trigger for it did.

Previously it was called from the lines immediate above you link: https://github.com/sinfomicien/mariadb/blob/v1.5.1/recipes/_redhat_ser

[2017-10-09 10:33] shoekstra opened #175 "Write documentation re Test Kitchen local testing"

[2017-10-09 10:35] shoekstra commented on #174
Thanks for the additional info!  I see what you mean - no problem re patch, I think I have enough to work something out.  Unfortunately I am short on time for the next two days, but should have the fix released on Thursday.

I've created #175 as a reminder to write some documentation in the README on using Test Kitchen to do some troubleshooting/testing patches.

[2017-10-12 21:41] damacus commented on #155
Not everyone has SELinux set to enforcing when using RedHat, I've yet to come across anyone who does it willingly.

[2017-10-12 21:44] damacus commented on #113
@shoekstra I think this can be fixed when "we" sort out the kitchen testing

[2017-10-13 08:23] kierandelaney commented on #174
@damacus this is definitely a bug and not a documentation issue :)

[2017-10-13 09:34] shoekstra commented on #174
Agreed - updated labels and should have some time this afternoon to sort this out.

[2017-10-13 13:11] damacus commented on #174
Fail... Sorry about that..

I shouldn't be changing labels that late at night :D

[2017-10-13 15:58] mjuszczak commented on #174
In looking at [these lines](https://github.com/sous-chefs/mariadb/blob/master/recipes/server.rb#L150-L155):

[code]

... I had a little trouble understanding why *_redhat_server_postinstall* existed at all if */etc/mariadb_grants* contained `execute[install-grants]` to change the root password, and was executed from *_maraidb_postinstall*. Then I realized that *_redhat_server_postinstall* takes ca

[2017-10-13 20:04] #174 closed, assigned to nobody

[2017-10-13 20:06] shoekstra commented on #174
PR has been merged, I need some time to update the metadata to reflect this cookbook's now with Sous Chefs.  I'll update when it's in the supermarket.

Thanks @mjuszczak !

[2017-10-17 22:10] jayhendren opened #178 "Setting root pw fails on 1.5.2"
I cannot successfully converge after upgrading from 1.5.1 to 1.5.2 on RHEL 7.4.  Here is the error I've been getting:

[code]

If I disable sensitive content, the error message becomes a little clearer:

[code]

I am not certain, but it appears that the cookbook is attempting to authenticate with the password set in my attributes via `node['mariadb']['server_root_password']` before the root user's

[2017-10-18 19:38] dylancanfield commented on #178
This is an issue when `node['mariadb']['root_my_cnf'] = true` and `node['mariadb']['server_root_password']` is set. The `config` recipe creates `/root/.my.cnf` which the `mysqladmin` command tries to use, but the password is blank when trying to change the password.

[2017-10-20 17:56] ragingdave commented on #178
I am running into the same issue when root_my_conf is set to false and the server_root_password is set. That is however after the password is already set (confirmed by logging into the new mariadb server).
If I then remove the server_root_password attribute, and re-run chef, the error goes away and chef continues cooking.

[2017-10-20 19:01] ragingdave opened #179 "Changing version DOES NOT install it"
During initial configuration/testing of this package, I found that if you change the version the actual package doesn't get updated. Is this intended as it caused mariadb to fail to start completely with incompatible settings for the targeted version?

[2017-10-20 21:09] shoekstra commented on #178
Hi!

Apologies for this, a PR was merged to fix this but I lost focus and didn't release 1.5.3 to the supermarket.  Please could you upgrade to the latest version and let me know if this issue still exists?

Thanks!
Stephen

[2017-10-20 21:42] jayhendren commented on #178
Unfortunately 1.5.3 did not resolve the issue for me.

[2017-10-20 22:05] sbcas opened #181 "lc_messages_dir is different on CentOS"
`mariadb-server` from CentOS 7 base appears to have a different location for `lc_messages_dir` than `/usr/share/mysql`:

[code]

This is also the case with CentOS 7.4. `mariadb` does start when `lc_messages_dir` is set to `/usr/share/mariadb`

[2017-10-20 22:07] shoekstra commented on #178
I'll try to dedicate some time to this over the weekend, otherwise Monday.

Apologies for the inconvenience.

[2017-10-21 05:19] dimsh99 commented on #181
I can't replicate it.
Package doesn't bring /usr/share/mysql/errmsg.sys. There is errmsg.sys for each language though ( i.e. /usr/share/mysql/english/errmsg.sys) and mariadb seems to find correct file. Maybe this happens due to some problems with locale or language settings?

[2017-10-21 08:34] sbcas commented on #181
Never mind. I'll leave my workaround in place.

[2017-10-21 08:34] #181 closed, assigned to nobody

[2017-10-21 19:53] shoekstra commented on #181
@scassiba if you could provide a kitchen config that replicates how you use the cookbook so we can reproduce it that would be great.  I came across [this post](https://askubuntu.com/questions/102875/mysql-5-5-starts-and-then-instantly-stops) that seems to describe your issue and the fix, not sure if it's similar, but unfortunately I too can't reproduce it.  I also run MariaDB on CentOS and we have

[2017-10-24 20:53] ragingdave opened #183 "xtrabackup-v24 missing from centOS 7 repos"
Currently using xtrabackup-v2 with mariaDB 10.2 is incompatible and creates a issue where checkpoints aren't recognized and causes SST to faile in a Galera cluster configuration. Since this package already handles installing the (currently unavailable) xtrabackup-v24, shouldn't it also configure the repo for percona xtrabackup24?

[2017-10-25 16:52] ragingdave opened #184 "Data Bags in Galera config not working"
Upon trying to use data bags in the galera configuration of passwords and sst user config, I find that those don't work at all and when configured as I would expect them to be configured.....doesn't apply the desired settings and further, produces an error which prevents chef from running.

roles/galera.json
[code]
data_bags/mariadb/user_sstuser.json:
[code]
Is this not the correct layout/configur

[2017-11-13 11:59] stissot opened #185 "Add resources to manage databases and users"
I was using the `mysql_database` and `mysql_user` resources provided by the [`database`](https://supermarket.chef.io/cookbooks/database) cookbook, but this cookbook is now deprecated.

The [reason why it's deprecated](https://github.com/chef-boneyard/database#deprecation) is because the authors think these resources should be implemented by each specialized database cookbook, to better use the ful

[2017-11-13 12:53] PowerKiKi commented on #185
There is also a similar topic, and conclusion, on https://github.com/sous-chefs/postgresql/issues/437

Forking some `database` features into this repository sounds like a good idea. If the core team agree on that, then @stissot or myself, could work on a PR for that. Would that be OK ?

[2017-11-21 10:35] kierandelaney commented on #124
Hi, looking to do the same!

The commit that references this issue should reference a pull request with the same number, it **doesn't relate to this issue** at all.

Also, just to add a bit more background - the `skip_log_bin` attribute has no effect due to the way the replication is enabled on the command line. The closest we've got is maintaining a single day with `default['mariadb']['replicatio

[2017-11-29 15:58] stissot commented on #185
Any opinion on this from maintainers? If the idea is agreed, I will have some availability in the beginning of December to work on a PR.

[2017-11-29 18:35] josephholsten commented on #185
@stissot if you find those resources valuable, then please go for it! Do you need anything besides approval from the rest of us?

[2017-12-29 07:10] onknows opened #186 "No candidate version available for libmariadbclient-dev"
On Ubuntu 16.04 mariadb::client will not work. It shows error
No candidate version available for libmariadbclient-dev

Cookbook version is 1.5.3

The package is renamed maybe? It is called libmariadb-client-lgpl-dev now? I'm not sure.

[2018-01-02 14:36] stissot commented on #144
Why do the `kitchen.yml` and `kitchen.docken.yml` already have `verifier: inspec`, even though all test suites are still written using Serverspec? Because of this, `kitchen verify` completes without running any test.

[2018-01-04 10:45] jklare commented on #146
Hi,
i stumbled upon this issue today and was wondering what the current status on the update from 10.0 to 10.1 is. Is there anything that blocks the bump or should i just open a pull request for bumping the version?
Cheers,
Jan

[2018-01-05 18:42] stissot commented on #185
@josephholsten I've made a PR #187 can you please review it?

[2018-01-09 10:13] shoekstra commented on #186
Hi!

I hope to spend some time on this cookbook in the next few days and will see if I can get this one fixed then.

Stephen

[2018-03-22 12:45] jmadureira commented on #185
@stissot I've been trying out the `mariadb_user` resource and it fails on the second run. It appears that the `load_current_value` on the resource is not telling chef that the resource already exists so it tries to create a new one.

Also the PR #187 doesn't include any matchers for the new resources. I don't know if it is expected or not.

[2018-03-22 14:45] infertux commented on #185
@jmadureira I could not reproduce this issue. Is it happening with `action :create`? Here's what I tried:

[code]

[code]

I converged multiple times and Chef is properly detecting that the resource is up to date for me.

[2018-03-22 14:51] jmadureira commented on #185
@infertux I was able to find out where the problem is and created the #191 with a possible fix.

[2018-03-22 18:49] stissot commented on #185
@jmadureira see my answers on #191

[2018-03-22 18:49] #185 closed, assigned to nobody

[2018-04-18 09:37] sinfomicien opened #192 "Need for a new sst_method mariabackup"
MariaDB has published a new way of backing up with his own tool (fork of xtrabackup), called MariaDB Backup.

https://mariadb.com/kb/en/library/mariadb-backup-overview/

I'm currently testing it. Will submit a PR if it works well

[2018-04-18 09:42] sinfomicien opened #193 "Debian >=9 has the same new GPG key than ubuntu >= 16"
When installing package from mariadb reporistory... The new key used for Ubuntu >=16 is the same used for Debian >=9.

Will push a PR as soon as i fully tested my change locally.

[2018-04-19 09:11] sinfomicien opened #194 "mysql2 segfault, when using mariadb_user"
A very interesting bug i found yesterday...

If you wanna use mariadb_user, then you need to have the mysql2 gem. We install the gem in the omnibus chef packages... But, we linked it against the system libmariadb.

And here come the magic thing ! Embedded chef use libssl.1.0, libmariadb from my system which use my system ssl lib (libssl1.1).

So each time someone want to install a gem compiled aga

[2018-04-19 14:43] sinfomicien commented on #194
I'm not particularly proud of what i will PR, but at least it works !

[2018-04-20 09:21] sinfomicien commented on #146
Hi @shoekstra,

It seems to me that the jump would be to go directly on 10.2. As it's the latest stable, i'm not sure that's there is any interest in 10.1 today.

[2018-04-23 12:46] sinfomicien opened #198 "Error when creating User with mariadb_user method"
On the first run, it successfully create the user. During the second run, and all others, got this error:
`  * mariadb_user[stagingReachApi] action create

    ================================================================================
    Error executing action `create` on resource 'mariadb_user[stagingFakeUser]'
    ===========================================================================

[2018-04-23 12:48] sinfomicien commented on #198
Don't know why the current_resource is not loaded by the load_current_value method... But to circumvent the problem, we can perhaps add 'CREATE USER IF NOT EXISTS' instead of just 'CREATE USER' . What do you think ?

[2018-04-23 13:05] jmadureira commented on #198
Can you please check if the problem you're having is related with #191 ?

[2018-04-23 14:41] sinfomicien commented on #198
It was partially the problem 😀

You identified the first problem i hit. But there's a second one. My ctrl_host is really localhost, while host is != localhost. It this case, when i use Mysql2, it does not try to connect to localhost/3306, but rather try to use the default socket (/tmp/mysql.sock).

So i also had to replace host by ctrl_host on line 178, plus your patch, and it correct this bug. Co

[2018-04-30 20:47] alexandrezia commented on #124
I'm disabling replication log this way:

[code]

[2018-05-14 17:15] petracvv opened #199 "Create new release so new resources are available"
I am trying to use this cookbook but the version on the supermarket does not include the ported over resources from the database cookbook (pull #187) and I would rather not depend on that deprecated cookbook if possible.

Could we have a new release made and published to chef supermarket?

[2018-05-15 12:53] sinfomicien opened #200 "Correct FC113 warning with Foodcritic"
Hello dear community,

  Chef 12 has now reached end of life... So Foodcritic has deprecated the call to use_inline_resource. Do we need to correct it (by removing the call to this now default function)? or ask foodcritic to ignore this warning ?

  I don't have a clear opinion on that.. Different point of view welcomed. Thanks !!!

[2018-05-15 13:04] sinfomicien commented on #199
You're right... Will try to find time to publish it this week. Or next one at max. I would like to see some new PR merged before, some need a little work.

[2018-05-15 19:04] petracvv commented on #199
Cool, thanks! Took me a while to figure out why the resource I was trying to use didn't seem to exist...

[2018-05-21 12:59] sinfomicien commented on #200
I answer to myself. As we want to keep a chef 12 compatibility, we have to ignore that warning. We'll have to remove the ignore tag when we will remove chef12 compatibility.

[2018-05-21 15:46] sinfomicien opened #202 "mariadb_replication fail in debian 9"
The problem is the same as described earlier for resources added to manage users or databases... The mysql2 gem is broken.

So we need to remove all the code which depends on mysql2, to call the mysql binary directly (which i did initially, but was changed in a next commit).

[2018-05-21 15:50] josephholsten commented on #200
Can we document why we’re supporting chef 12, and under what circumstances we will to stop supporting it?

[2018-05-21 16:10] sinfomicien commented on #200
That's a very good question... I figure that everywhere in tests, we force chef12 version. Probably because a lot of us, use it.  But it was set by @shoekstra, perhaps he can say us why chef 12 support ?

To my opinion, as chef 12 has reached end of life, it seems a good idea to remove it, in favor of chef 13. But i don't want to break everything without having other point of view.

[2018-05-21 16:14] sinfomicien commented on #200
At least for the next 1.5.4 version, i won't change that support. I will propose a new issue to remove it with version 1.6.0

[2018-05-21 16:16] sinfomicien opened #203 "Remove Chef 12 support"
As chef 12 has reached end of life, i propose to migrate every tests to chef 13, and definitely drop support for unsupported version.

Will do it in next 1.6.0 version, until someone really need support for chef 12. Please, if you need this support, please tell it now ! Thx 😃

[2018-05-22 09:16] sinfomicien commented on #183
I think that the real solution would be to install the new mariabackup instead. Will do it and try it

[2018-05-23 16:36] sinfomicien commented on #179
At the beginning, i did it that way. The biggest problem is the incompatibility with version, as you guess it. Perhaps, It could be a good idea to allow it only for minor version upgrade...
And when i tried, the downgrade failed 90% of the time.

So as i haven't so many time to do differently... If your wanna push a PR, feel free 😉

[2018-05-23 21:22] #203 closed, assigned to sinfomicien

[2018-05-24 09:51] #193 closed, assigned to sinfomicien

[2018-05-24 09:51] #194 closed, assigned to sinfomicien

[2018-05-24 09:52] #198 closed, assigned to nobody

[2018-05-24 09:52] #192 closed, assigned to sinfomicien

[2018-05-24 09:52] #200 closed, assigned to sinfomicien

[2018-05-24 09:52] #202 closed, assigned to nobody

[2018-05-24 15:10] #186 closed, assigned to nobody

[2018-05-25 09:24] #199 closed, assigned to nobody

[2018-06-05 09:30] ghost opened #207 "Managing service[mysql] on CentOS bug"
Hello have faced with issue on installing mariadb server 10.2 on Centos 6.9 final release and 7.0 aswell, looks like chef unable to manage just created mysql service, maybe its problem  of chef itself I dnt know. Here posts the output log, do you have any ideas:
[code]
Observed on:
chef client versions:
- 12.1
- 14.1.12

centos platforms:
- CentOS release 6.9 (Final)
- CentOS release 7.0

cookbook

[2018-06-05 09:35] ghost commented on #207
I tried to comment the ```:enable``` option and I got the second error:
[code]
[chef-stacktrace.log](https://github.com/sous-chefs/mariadb/files/2071753/chef-stacktrace.log)

[2018-06-05 11:18] ghost commented on #207
BTW, I tried to overwrite service_name attribute with "mysql"

[code]
and errors disappear, but mariadb service not installing at all (missing daemon at /etc/init.d/)

[2018-06-05 20:21] damacus commented on #207
hey @maxim-agrigoroae thanks for taking the time to submit this issue.

Right now we're lacking some maintainers.

We want to look at fixing this up after we've cleaned up the postgresql cookbook to a good standard. Being a user of this cookbook we'd really appreciate some PRs for this. We'll happily help on the chef slack to debug and fix this issue if that helps!

Welcome!

[2018-06-06 05:51] ghost commented on #207
@damacus Sure, no problem, thank you very much )

[2018-06-06 09:34] sinfomicien commented on #146
I will say more than that 10.3 now

[2018-06-26 21:00] sinfomicien commented on #146
It fixed with PR #208

[2018-06-26 21:00] #146 closed, assigned to sinfomicien

[2018-06-26 21:01] sinfomicien commented on #145
Fixed with PR #208

[2018-06-26 21:01] #145 closed, assigned to sinfomicien

[2018-06-26 21:01] sinfomicien commented on #141
Fixed with PR #208

[2018-06-26 21:01] #141 closed, assigned to sinfomicien

[2018-06-26 21:02] sinfomicien commented on #143
Fixed with PR #208

[2018-06-26 21:02] #143 closed, assigned to sinfomicien

[2018-06-26 21:02] sinfomicien commented on #144
Fixed with PR #208

[2018-06-26 21:02] #144 closed, assigned to sinfomicien

[2018-06-27 10:15] sinfomicien opened #214 "Password management in mariadb_server_install is not working"
When running the resource mariadd_server_install for the first time... A password is generated. But then, it's not saved. So at the next run, when it tries to re-generate one... And don't have the old one, convergence fail.

To be able to use this feature... Either we choose to create a .my.cnf, either we disable it. Don't see any easy workaround, as it's not like postgresql.

[2018-06-27 10:17] sinfomicien commented on #184
The version 2.0 and more of this cookbook does not manage any databag. You could use it when writing your recipe, and using custom resources.

So i closed this issue.

[2018-06-27 10:17] #184 closed, assigned to nobody

[2018-06-27 10:18] sinfomicien commented on #214
It's linked to #8

[2018-06-29 06:30] sinfomicien opened #217 "Debian-Sys-Maint Password management"
With the new v2.0.0 cookbook, it's not possible anymore to manage the Debian-sys-maint password. And this is a mandatory thing when playing with galera. The password need to be the same across the whole cluster.

[2018-08-13 09:52] GaneshKudikala opened #218 "Cookbook error with attribute default['mariadb']['use_default_repository'] = flase"
### Cookbook version
lastest version **v1.5.4.zip**

### Chef-client version
**Chef Development Kit Version: 3.1.0**
chef-client version: 14.2.0
delivery version: master (6862f27aba89109a9630f0b6c6798efec56b4efe)
berks version: 7.0.4
kitchen version: 1.22.0
inspec version: 2.1.72

### Platform Details
**Local Ubuntu 18**
### Scenario:

Not able to run cookbook from the release when i try to run.

[2018-08-29 17:19] craffop opened #219 "innodb_buffer_pool_size"
### Cookbook version
2.0.0

### Chef-client version
14

### Platform Details
Centos 7 VM

### Scenario:
Trying to change the innodb_buffer_pool_size and I keep getting error
[code]

### Steps to Reproduce:
I just passed it in via
[code]

### Expected Result:
Expect it to change, I did try follow the logic but seem to be missing the check you are doing.
I did see the comment that this can not just

[2018-09-19 15:51] aalmenar opened #220 "ALTER USER 'root'@'localhost' does not work on MariaDB 10.1"
### Cookbook version
master from github (2.0.0) at this time

### Chef-client version
14.4.56

### Platform Details
Debian 9 and Debian Testing

### Scenario:
[What you are trying to achieve and you can't?]

### Steps to Reproduce:
mariadb_server_install 'MariaDB Server install' do
  action [:install, :create]
  version '10.1'
  password 'mypassword'
end

### Expected Result:
Install and change ro

[2018-09-29 02:22] kevsgithub opened #221 "Remove dependency build-essential"
### Cookbook version
1.5.4

### Chef-client version
14.5.33

The build-essential cookbook has been depreceated as Chef-client 14 has included the build-essential resources.

[2018-09-29 10:36] damacus commented on #221
Indeed, however we're currently supporting both Chef 13 and Chef 14.

Roll on next April when Chef 15 is out and we deprecate Chef 13!

[2018-09-29 10:36] #221 closed, assigned to nobody

[2018-10-17 14:32] craffop commented on #124
in Version 2.0 I updated

[code]
to
[code]
and then in my wrapper recipe just set it to nil.  have not yet tested the other way but it does at least it turns it off, with minimum changes.

[2018-11-02 09:16] aalmenar opened #225 "undefined method `ext_conf_dir' when using mariadb 2.0.0 cookbook"
### Cookbook version
2.0.0 (Or head from github)

### Chef-client version
14.6.47

### Platform Details
Debian 9 and Debian 10

### Scenario:
When trying to set some variable not included in the list of mariadb_server_configuration:

mariadb_configuration 'extra_innodb' do
  section 'mysqld'
  option :innodb_thread_concurrency => 8,
  :innodb_commit_concurrency => 8,
  :innodb_read_io_threads => 8

[2018-11-09 18:01] PowerSchill commented on #214
I am encountering this same issue and would be interested in resolving but I am not a database person so I don't know what the best way to resolve is.

[2018-11-19 16:22] #219 closed, assigned to nobody

[2018-12-18 12:41] rnt opened #228 "mariadb don't start, selinux context problem"
### Cookbook version
1.5.4

### Chef-client version
14.8.12

### Platform Details
CentOS Linux release 7.6.1810 (Core)
Running on azure

### Scenario:
Start mariadb service

### Steps to Reproduce:
On **CentOS 7.6** with `SELINUX=enforcing`, running the recipe `mariadb::server`.

### Expected Result:
Mariadb start

### Actual Result:
Mariadb fail to start.

[code]

On .err log, we see:
[code]

The

[2018-12-19 10:42] askz commented on #220
Same here..

[2019-01-08 14:57] askz commented on #225
Same here.
Is there any fix I should be aware of?

[2019-01-08 15:04] JohnRoesler commented on #225
We're short on maintainers for mariadb at the moment, sadly. We'd welcome a PR if you wanted to take a crack at it!

[2019-01-08 18:49] josephholsten commented on #225
@aalmenar @askz here's the first use of the `ext_conf_dir` helper: https://github.com/sous-chefs/mariadb/commit/3d1850fd48ba0d293a6a971cab7c11ddb2bebd57.

I suspect the issue is that `resources/configuration.rb` doesn't have the line `include MariaDBCookbook::Helpers`  like [`resources/server_configuration.rb:19`](https://github.com/sous-chefs/mariadb/commit/3d1850fd48ba0d293a6a971cab7c11ddb2bebd5

[2019-01-23 18:44] t0rrant commented on #214
This also happens when you provide a `password` argument to `mariadb_server_install`, i.e:

[code]

Where after trying to set up the password, which it does not, logging in as root is impossible.

It's only a warning, but it is a pointer for the solution:

`bash[generate-mariadb-root-password] action run[2019-01-23T18:30:10+00:00] WARN: only_if block for bash[generate-mariadb-root-password] return

[2019-01-23 19:11] t0rrant commented on #214
And by the way, the comment on that function seems misleading according to the documentation:

https://github.com/sous-chefs/mariadb/blob/master/README.md in line 406 (can't link directly) under `mariadb_database` it says that:

` password                   String # defaults to node['mariadb']['server_root_password']  `

which from the comment doesn't look right, which says it should be node['mari

[2019-01-24 19:13] t0rrant commented on #214
The problem seems to be that the initial root password is never properly created, so we can't access de server using root with or without password.

I'm running a few tests and proposing a solution through a PR in a while, I'll refer this issue and #220 as their are related.

[2019-01-25 14:49] t0rrant commented on #217
from what I can see from the template code, it is possible by defining `default['mariadb']['debian']['password']`?

https://github.com/sous-chefs/mariadb/blob/c9f3b20595350fb29f10e73cb487419d18aed650/templates/default/debian.cnf.erb#L5

although I think I'm either missing where the recipe uses/generates this or the recipe doesn't in fact generate this file.

[2019-02-07 18:00] t0rrant commented on #217
@Xorima @damacus Any thoughts on this?

From what I can tell on debian systems the `/etc/mysql/debian.cnf` file is created by the mariadb-server package on its postinstall script:

[code]

so I guess that if we create the file ourselves **before** the package installation it will just use the password that we defined, by looking at line#159.

[2019-02-21 09:43] sekrett opened #236 "Grant action should not require and modify the password"
### Cookbook version
1.5.4

### Chef-client version
14.10.9

### Platform Details
CentOS 7

### Scenario:
In general when I create a mysql user, I need the password, but when I grant permissions, it does not need the password, it is a different action. Also from documentation it is not clear if I can do a grant with password assuming the user will be created as well. If grant action modifies the p

[2019-03-08 19:44] corbesero opened #237 "error using `hashed_password()' when using mariadb_user from cookbook"
### Cookbook version
1.5.4

### Chef-client version
13.8.5

### Platform Details
centos 7.4

### Scenario:
I am trying to create a user..  using the hashed password.  I am doing this in a wrapper cookbook.
Follow up question: how do I create the hashed password?  Do I execute a `select PASSWORD('xyzzy'))`?

### Steps to Reproduce:
The example from the README fails.

[code]

### Expected Result:
Th

[2019-03-10 18:12] #169 closed, assigned to nobody

[2019-03-10 18:12] xorima commented on #169
Hi,
Closing issue as we have released 2.0.0 which does not use recipes anymore, if you are still having an issue please re-open

Thanks

[2019-03-10 18:13] xorima commented on #218
Hi,
Closing issue as we have released 2.0.0 which does not use recipes any more, if you are still having an issue please re-open

Thanks

[2019-03-10 18:13] #218 closed, assigned to nobody

[2019-03-10 18:15] xorima commented on #58
Hi,
Closing issue as we have released 2.0.0 which does not use recipes anymore, if you are still having an issue please re-open

Thanks

[2019-03-10 18:15] #58 closed, assigned to nobody

[2019-03-10 18:16] xorima commented on #74
Hi,
Closing issue as we have released 2.0.0 which does not use recipes anymore, if you are still having an issue please re-open

Thanks

[2019-03-10 18:16] #74 closed, assigned to nobody

[2019-03-10 18:16] xorima commented on #95
Hi,
Closing issue as we have released 2.0.0 which does not use recipes anymore, if you are still having an issue please re-open

Thanks

[2019-03-10 18:16] #95 closed, assigned to nobody

[2019-03-11 14:41] Aketzu opened #240 "Incorrect escaping in execute_sql"
### Cookbook version
mariadb 2.0.0

### Chef-client version
14.3.37

### Platform Details
Linux, Debian 9.7

### Scenario:
Creating new users with mariadb_user results in errors
[code]
### Reason:
User resource tries to check for password field
https://github.com/sous-chefs/mariadb/blob/0e1528a007dfbe4dfd1cafab5f712ad4f35cd698/resources/user.rb#L75

This is simply inserted into shell command
https

[2019-03-14 11:49] t0rrant commented on #240
This issue is addressed by #234, waiting on merge.

[2019-03-15 07:29] cdelacruzpinto opened #241 "Mariabackup won't install when using version 10.3, Ubuntu Bionic and mariadb_galera_configuration resource"
### Cookbook version
2.0.0

### Chef-client version

14.5.33

### Platform Details
Ubuntu 18.04

### Scenario:
Install a 3 node MariaDB 10.3 cluster using mariabackup method for sst

### Steps to Reproduce:

- Create a wrapper cookbook that uses the mariadb_galera_configuration resource specifying version 10.3 and mariabackup sst option
- Run the cookbook in a Bionic VM/host (I used a three node k

[2019-03-20 14:19] #214 closed, assigned to nobody

[2019-03-22 16:32] dud225 opened #243 "Grant fails if symbol privilege contains an underscore"
Hello

the manual implies that we can express grant privileges with symbols :
[code]

the full list can be found [here](https://github.com/sous-chefs/mariadb/blob/726d8cb0cfbb6d3417942a52560ffef09c0a0e6f/resources/user.rb#L165)

However MariaDB doesn't allow granting privileges containing an undersocre :
[code]

So using :
[code]
makes the cookbook fail.

To grant that permission, one has to write

[2019-03-22 21:04] xorima commented on #243
Hi @dud225

Would you be willing to create a PR for this issue, then we can get released quickly 👍

[2019-04-01 18:36] t0rrant commented on #240
I guess you can close this issue by now.

[2019-04-02 15:15] sinfomicien opened #245 "Error while installing mariadb repository under Chef 13"
### Cookbook version
2.1.0

### Chef-client version
13.9.1

### Platform Details
Debian 9

### Scenario:
I try to configure a mariadb galera cluster (migration from old 1.x version of the cookbook)

### Steps to Reproduce:
install a mariadb server with the resource:
[code]
on a Debian 9 OS with chef 13.x

### Expected Result:
the repository to be installed

### Actual Result:
I know that we suppor

[2019-04-02 17:09] sinfomicien commented on #225
Good guess @josephholsten ! My bad, i forget it while rewriting the whole cookbook for 2.0.0 version. The `ext_conf_dir` is a method of the helper, and so you need to include the helper to use that method there. Will submit a PR to correct, and add tests so that i won't forget it next time.

[2019-04-02 20:21] sinfomicien opened #248 "Remove Debian 8 support, add debian 10 support"
### Cookbook version
2.1.0

### Chef-client version
14.11.21

### Platform Details
Debian 8 (Jessie)

### Scenario:
Kitchen test are failing for the debian-8 OS

### Steps to Reproduce:
Just launch test on any suite, only on debian 8

### Expected Result:
The tests passed all without errors

### Actual Result:
An error during convergence:
[code]

### Proposed solution

As the jessie distribution i

[2019-04-02 20:24] damacus commented on #248
Sounds good, if there are dokken images for it

[2019-04-03 08:14] sinfomicien commented on #248
It seems someone submit a PR to dokken-images repository to add it (https://github.com/someara/dokken-images/issues/26) 👼

[2019-04-03 13:55] sinfomicien commented on #241
I can reproduce it for all deb package distribution (not only for Ubuntu). Will try to understand why they change naming convention for 10.3 (and if this will be the default for all new versions)

Will soon submit a PR to correct the name for 10.3 version.

[2019-04-03 16:21] sinfomicien commented on #237
Hi dear @corbesero,

The main problem here... The 1.5.4 version of the cookbook is hard to debug for me now.

If you could work on it, i will create a 1.5.x branch where i import the tag v1.5.4, and could perhaps create a 1.5.5 version of the cookbook if you submit a PR. But it's up to you, as i got big lack of time these days.

[2019-04-03 16:24] sinfomicien commented on #124
@craffop : possible to you to submit a PR please ? It will be awesome 🥇

[2019-04-04 10:00] sinfomicien commented on #236
It make sense. Will try to write something about it. But unfortunately, will not try to work on the old 1.5.x branch. It will be on 2.x or even 3.x branch.

[2019-04-04 10:01] sinfomicien commented on #228
@rnt: Any chance you could submit a PR ? It would be awesome 🥇

[2019-04-04 13:46] sinfomicien commented on #243
I don't initally wrote the part of the cookbook... But what i can tell is that underscore ARE supported by  MariaDB. It came from Mysql, please see [here](https://dev.mysql.com/doc/refman/5.7/en/privileges-provided.html) for details.

So yes, show_view is not supported as is... But Show_view_priv is, and the cookbook normally change show_view to Show_view_priv [here](https://github.com/sous-chefs/

[2019-04-04 14:55] dud225 commented on #243
From my reading of the [doc](https://mariadb.com/kb/en/library/grant/), it is not clear to me that the "_priv" syntax is supported.

I nevertheless tested your suggestion but was not successful :
[code]

Are you able to make it work on your side ?

[2019-04-05 07:34] damacus commented on #248
Awesome sauce. Next we should go fix https://github.com/sous-chefs/orbs If you need any guidance give me a shout and I'll help :)

We will probably do a major version change as we're dropping support for Debian 8

[2019-04-09 13:51] sinfomicien commented on #225
Just merged the correction in master, @aalmenar could you test it in your case please ? If it's ok, you can close it :-D

[2019-04-09 16:34] sinfomicien commented on #243
Ok, after reading my post, i see i'm far from having said, what i had to. I won't edit it, to let your question understandable. I wrote english, but think in french, and so the result is wrong.

What i REALLY mean (i hope to be clear this time, but i can't give warranty ;-) ):

show_view is not supported in the GRANT request... But we always compare the result of the column `Show_view_priv` (which

[2019-04-10 07:55] sinfomicien commented on #241
@cdelacruzpinto, i just merged a patch. Could you please test your use case with the master branch please ? I will release a new version soon.

[2019-04-10 07:57] sinfomicien commented on #240
@Aketzu , could you confirm the patch solved your problem ? thx in advance

[2019-04-10 08:14] sinfomicien commented on #130
Now, i verified, it's printed correctly, so i close it.

[2019-04-10 08:14] #130 closed, assigned to nobody

[2019-04-10 13:48] dud225 commented on #243
Thanks for your detailed message I think I've got your point.
There is just a last thing that I'm missing : why do we bother checking the current permission ? Why not just executing the GRANT/REVOKE request ?

[2019-04-10 15:46] sinfomicien commented on #243
This time, i have a clear answer ! In many audit system, all grant request are logged with a special importance. If you play it as it's not needed, it generate noises on your audit system.

The original author of these code is @stissot, perhaps he can add some more insight on his own needs.

[2019-04-11 09:26] cdelacruzpinto commented on #241
Sure. Will test and let you know. Many thanks!

[2019-04-11 10:18] cdelacruzpinto commented on #241
Tested with same previous wrapper cookbook and works for me. Many thanks!

[2019-04-11 16:12] dud225 commented on #243
Hello @sinfomicien

I feel that adding this kind of overhead to the whole community for constraints you have in a specific environment is quite awkward. It makes the resource code more complex that it needs to be and even though it let your audit system be happy it makes the server executes twice as much queries.

Yet this has a nice side-effect : it probably makes the cookbook work on AWS RDS (I

[2019-04-11 21:58] sinfomicien commented on #243
Hello @dud225 ,

I just push a PR i prepared yesterday, and did not see you also changed yours. I will see if your is better than mine, i will just add the bug correct of the issue #236 in mine and merge yours. Will do it tomorrow for sure.

[2019-04-19 10:28] anewb opened #256 "Root password is empty when set manually in mariadb_server_install"
### Cookbook version
2.1.0

### Chef-client version
14.12.3

### Platform Details
Ubuntu 18.04.1 LTS

### Scenario:
Set root password manually.

### Steps to Reproduce:
Use this resource specification:
[code]

### Expected Result:
Root password should be set.

### Actual Result:
Root password is empty, anyone can connect via `mysql -u root`.

Tried to work around this by adding
[code]

but that on

[2019-05-03 07:36] jottekop opened #257 "release new tag and update in supermarket"
I asked a couple of weeks ago when you will release a new tag. Could maybe share when this will be?

New release should contain the following in my opinion.

- Galera support
- repo fix for chef 13.

Thanks very much.

[2019-05-21 10:29] AlexeyDemidov opened #262 "mariadb_user resource ignores ctrl_user"
### Cookbook version
[2.1.0]

### Chef-client version
[14.7.17]

### Platform Details
[Debian 9.9]

### Scenario:
`mariadb_user` resource ignores `ctrl_user` due to incorrect assignment in following code (it uses `username` instead of `user`) https://github.com/sous-chefs/mariadb/blob/b5a1e9e5233ef828259452effaba6d6c5e215085/resources/user.rb#L68

[2019-06-17 16:29] jdnrg opened #263 "mariadb_user grant removes password"
### Cookbook version
2.10

### Chef-client version
[Version of chef-client in your environment]

### Platform Details
not important

### Scenario:
Granting an existing user access to a table

### Steps to Reproduce:
[code]
### Expected Result:
Expected to create the user and then grant access to the database

### Actual Result:
The password was removed in the second grant action, I would have expe

[2019-06-28 22:49] sfiggins opened #265 "`:create` on mariadb_server_install restarts service on every chef-client run"
### Cookbook version
2.1.0

### Chef-client version
14.11.21

### Platform Details
centos vagrant in test-kitchent

### Scenario:
Adding mariadb_server_install resource with `:create` as an action causes the mariadb service to stop and reset the root password whenever chef-client is run, regardless of whether the root password needs to be changed or not.

### Steps to Reproduce:
Use `[:install, :c

[2019-06-28 22:51] sfiggins commented on #265
Pretty sure the server is stopped because of these lines in the server_install resource for the create action:

[code]

[2019-06-28 22:55] sfiggins commented on #265
A workaround I might try is to not include :create as an action, and instead write something to test if create needs to be run, then signal server_install resource, but my general expectation is that my database won't get restarted unless there is some need for a restart.

[2019-07-01 20:45] sfiggins commented on #265
If anyone else is struggling with this, my initial fix is to put a not_if on the resource checking for the recovery.conf file.

[code]

Your data directory may differ.

[2019-07-18 11:37] nexusVI commented on #256
Same problem on Debian 10.

I am trying to set the root password from a node attribute, but it always remains empty.

Edit:
I verified manually that setting the new password like this does not seem to work:
`SET PASSWORD FOR 'root'@'localhost' = PASSWORD('new_password');`

This does work:
`ALTER USER 'root'@'localhost' IDENTIFIED BY 'new_password';`

[2019-08-06 14:39] damacus commented on #256
This sounds like a bug with the provider/resource on setting the password. Does someone fancy looking into fixing this bug, or making a test case in chef spec/inspec to start the process off?

[2019-10-09 22:36] PowerSchill opened #268 "Dangerfile should use failure instead of fail"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

On the repo, ensure that `Dangerfile` matches https://github.com/sous-chefs/repo-management/blob/master/Dangerfile

Issue sprouted from sous-chefs/meta/issues/110. If not applicable then i

[2019-10-09 22:36] PowerSchill opened #269 "Remove .rubocop.yml with Dangerfile"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

If the only thing in the `.rubocop/yml` is Dangerfile
Run the latest cookstyle
Remove `.rubpopo.yml`

Issue sprouted from sous-chefs/meta/issues/108. If not applicable then issue should be

[2019-10-09 22:36] PowerSchill opened #270 "Update Changelog"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Update all CHANGELOGs to follow standard defined at <https://keepachangelog.com/>

Issue sprouted from sous-chefs/meta/issues/101. If not applicable then issue should be closed.

[2019-10-09 22:36] PowerSchill opened #271 "Run latest cookstyle"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Chef have released updated cookstyle rules, we should therefore run the auto fix against the cookbook

1. Ensure you are on the latest stable `chef-workstation`
1. Run `cookstyle -a`

Issu

[2019-10-09 22:36] PowerSchill opened #272 "Update builds to be parallel"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

As part of our build process we should build each possible operating system separately

1. Ensure you have dokken setup and working:
  1. dokken: aliased to KITCHEN_LOCAL_YAML=kitchen.dokk

[2019-10-17 20:38] JohnRoesler opened #276 "Centos 6/7 tests failing to find packages"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

The galera-configuration-centos-6/7 tests are failing.
- [centos-6](https://circleci.com/gh/sous-chefs/mariadb/2438)
  - `No candidate version available for socat, pv, mariadb-backup`
- [c

[2019-10-17 20:39] #271 closed, assigned to nobody

[2019-10-17 20:39] #272 closed, assigned to nobody

[2019-10-17 20:39] #268 closed, assigned to nobody

[2019-10-17 20:39] #269 closed, assigned to nobody

[2019-10-18 17:55] ccrebolder commented on #276
for `pv` and `socat` I had to add the epel repo to the test cookbook recipe. I assume we would not want to manage this for users, but let me know if there's a better way.

for `MariaDB-backup` the yum package has capital letters in it, like the server package

[2019-10-19 12:49] #265 closed, assigned to nobody

[2019-10-19 12:49] #276 closed, assigned to nobody

[2019-10-31 14:05] corbesero commented on #237
I'm sorry.  I never noticed your reply.
I am going to start using the 3.x cookbook versions.

[2019-10-31 18:31] corbesero commented on #237
I have the same question/issue with the 3.1.0 cookbook.  How do I make the hashed_password() function available in my recipe?

[code]

[2019-11-01 16:45] NotJustPizza opened #280 "Malformed apt repository"
### :speaking_head: Foreword

Installation fails due to malformed `mariadb_org_repository.list`. Apt works again if I remove it. This issue is something recent, it was working with similar setup a week ago.

## :pancakes: Cookbook version

3.1.0

## :woman_cook:  Chef-Infra Version

Chef Server: 13.0.17
Chef Client: 15.0.300

## :tophat: Platform details

Debian 10.1.0 amd64 netinst

## Steps To R

[2019-11-01 19:04] ccrebolder commented on #280
I'm having trouble reproducing this. Is the `node['lsb']['codename']` attribute populated on your system? That is where the value comes from https://github.com/sous-chefs/mariadb/blob/v3.1.0/resources/repository.rb#L60

[2019-12-10 09:55] davidpickwell opened #285 "Recipe not Converging under Centos7 and :create action on Server"
## :ghost: Brief Description

A recipe is not converging under Kitchen when the underlying OS is CentOS7 (works fine in CentOS6.9).

The recipe performs a simple install:
[code]
The cookbook installs the correct version of MariaDB using the default _:install_ action:
[code]
But when the _:create_ action is called, it fails on the `Error executing action 'enable' on resource 'service[mysql]'`

The

[2019-12-10 16:18] JohnRoesler commented on #285
Would you like to open a pull request to resolve?

[2020-02-21 12:35] xorima commented on #243
Hey @sinfomicien what was the outcome of checking on this one?

[2020-04-23 19:51] nhillsdonuk opened #300 "Won't Install / Converge on Centos 8"
### :speaking_head: Foreword

## :ghost: Brief Description

Default Centos 8 minimal install using stock parameters fails to find candidate for MariaDB-Server.

## :pancakes: Cookbook version

Latest

## :woman_cook:  Chef-Infra Version

Latest

## :tophat: Platform details

Centos 8 Virtual Machine installed with Centos 8 minimal.

## Steps To Reproduce
In recipe:

mariadb_server_install 'package

[2020-04-27 19:58] Lasering opened #302 "Create database with an user that requires ssl"
## :person_frowning: Problem Statement

Right now it is impossible to use the `mysql_database` resource if the user configured has `REQUIRE SSL` on the server, and the server is not localhost.

## :grey_question: Possible Solution

Add a new property called `use_ssl` which would set the flag `--ssl` in https://github.com/sous-chefs/mariadb/blob/master/libraries/helpers.rb#L41

[2020-04-28 12:09] IcemistPixie commented on #300
Hi,
This is not due to the package name. This is an issue with CentOS 8 & DNF. The package name in the mariadb.org yum repo's is still MariaDB-server, the one that you are finding in lower case is the one from the CentOS 8 provided repos. The issue is that dnf is not finding the packages in the mariadb.org repos for some reason.

Having looked into this again I see that the mariadb install [instru

[2020-04-29 12:49] xorima commented on #302
Hey @Lasering

Would this be something you would be happy to create a PR for, it seems like a really useful feature?

Thanks!

[2020-04-29 12:49] xorima commented on #300
@IcemistPixie's fix has been merged, will cut a release later today for this.

[2020-04-29 13:44] Lasering commented on #302
Yeah I can make a PR.

[2020-05-22 13:48] #300 closed, assigned to nobody

[2020-05-22 13:49] damacus commented on #300
Fixed by #303

[2020-07-12 10:39] asper-ru opened #311 "Can't use password if it contains quote symbol"
In my recipe I take password from chef-vault to enable mariadb replication, but if fails when parsing SQL-expression because random-generated password contains the quote symbol ( ' ) and SQL syntax parser fails when trying to parse this:

MASTER_PASSWORD='3svd'P+w5ks-stdf\#srg0kk'

Is it normal behaviour for password parser, and what to do if password contains special characters like quotes?

[2020-08-27 18:30] #311 closed, assigned to nobody

[2020-09-28 18:42] rapkyt opened #317 "Recipe Compile Error in galera_configuration.rb"
## :ghost: Brief Description

Trying to compile this cookbook I got this error:
[code]

I took a look at that [file](https://github.com/sous-chefs/mariadb/blob/master/resources/galera_configuration.rb#L36) and see the same code, is this a real syntax error or is there something wrong with my chef client?

## :pancakes: Cookbook version

I THINK
mariadb (3.1.0)
## :woman_cook:  Chef-Infra Version

[2020-10-03 21:28] ramereth commented on #317
@rapkyt is this still happening with the current released version?

[2020-10-03 22:28] ramereth commented on #285
@davidpickwell is this still happening with the current release of the cookbook?

[2020-10-03 22:52] #248 closed, assigned to sinfomicien

[2020-10-04 22:34] #257 closed, assigned to nobody

[2020-10-04 22:34] #245 closed, assigned to sinfomicien

[2020-10-04 22:36] #241 closed, assigned to sinfomicien

[2020-10-04 22:36] #240 closed, assigned to nobody

[2020-10-04 22:38] ramereth commented on #237
@corbesero if you do something like this in your recipe, it should work:
[code]

[2020-10-04 22:38] #237 closed, assigned to nobody

[2020-10-04 22:41] #225 closed, assigned to sinfomicien

[2020-10-04 22:41] #220 closed, assigned to nobody

[2020-10-04 22:43] #183 closed, assigned to nobody

[2020-10-04 22:44] #179 closed, assigned to nobody

[2020-10-04 22:45] #178 closed, assigned to nobody

[2020-10-04 22:45] #175 closed, assigned to shoekstra

[2020-10-04 22:45] #162 closed, assigned to nobody

[2020-10-04 22:46] #147 closed, assigned to nobody

[2020-10-04 22:47] #124 closed, assigned to shoekstra

[2020-10-04 22:47] #117 closed, assigned to nobody

[2020-10-04 22:48] #113 closed, assigned to nobody

[2020-10-04 22:48] #109 closed, assigned to nobody

[2020-10-04 22:48] #44 closed, assigned to nobody

[2020-10-04 22:48] #22 closed, assigned to sinfomicien

[2020-10-04 22:49] #15 closed, assigned to shoekstra

[2020-10-04 22:49] #14 closed, assigned to nobody

[2020-10-04 22:49] #8 closed, assigned to nobody

[2020-10-08 09:11] jmadureira commented on #256
I've also hit this problem and after some debugging I noticed an error while trying to change the root password:

[code]

So the problem is related to this query on the `/var/lib/mysql/recovery.conf` file.

[code]

Changing this to something like

[code]

does fixes the problem on my end but I'm not entirely certain that this is the correct way to fix this.

[2020-10-11 00:20] #263 closed, assigned to nobody

[2020-10-11 00:20] #262 closed, assigned to nobody

[2020-10-12 00:19] #236 closed, assigned to sinfomicien

[2020-10-12 00:19] #217 closed, assigned to sinfomicien

[2020-10-12 00:19] #207 closed, assigned to nobody

[2020-10-16 00:20] #270 closed, assigned to nobody

[2020-11-03 19:53] asper-ru opened #322 "Mixlib::ShellOut::CommandTimeout error after 600 seconds of SQL query"
I tried to make long SQL query (loading database), but it terminated after 10 minutes due to Mixlib::ShellOut timeout settings.

Cookbook version 4.1.0
Version of chef-client in your environment: 16.1.16
Operating system distribution and release version: Ubuntu 20.04

Steps to reproduce the behavior:

To run a long SQL command, to load database from the file, for example. In my case it was:

maria

[2020-11-04 00:35] ramereth commented on #322
@asper-ru `shell_out` exposes a `timeout` parameter which will override the constant if set. Ideally we'd add some logic here:
https://github.com/sous-chefs/mariadb/blob/1fcd4c1ddf6122b31209b0759361883a8e5bea68/libraries/helpers.rb#L52-L67

To set the timeout and then add new a new `timeout` property to resources which use this method.

[2021-01-11 20:53] craffop opened #327 "[arch=amd64] needed in sources file."
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Everything seemed to be working until around a week ago. Now it seems that the ubuntu server I am running this on does not like the sources file that gets created I get the following error

[2021-01-12 00:48] ramereth commented on #327
I can confirm this happens if you have i386 enabled on the system:
[code]

[2021-04-12 21:26] mromero-convoso opened #330 "Multiple MariaDB instances on the same server"
### Cookbook version
4.3.0

### Chef-client version
16.13.16

### Platform Details
Ubuntu 20.04-LTS

### Scenario:
Is there an easy way to setup multiple MariaDB instances using this cookbook, each with their own service setup?

### Steps to Reproduce:
Populate the `mariadb_server_install` resource twice, with different names. Notice there are is only one `mariadb.service` though there are two sep

[2021-10-28 08:54] stissot commented on #256
Since MariaDB 10.4, at least on Debian/Ubuntu, the default `root` account has only the `unix_socket` authentication plugin activated (he can only login from the `root` Unix user, without a password), not the `mysql_native_password`. That's why we cannot set the root password until we enable the password plugin. Here is the fix for `recovery.conf`:

[code]

[2021-10-29 15:55] #256 closed, assigned to nobody

[2022-02-14 12:33] AmberSpeedyfruit opened #340 "Support For Rocky/Alma Linux"
### :speaking_head: Foreword

Add support for other RHEL based platforms

## :person_frowning: Problem Statement

Currently when using this cookbook on a Rocky Linux 8 machine the cookbook is setting the yum repo baseurl to `http://yum.mariadb.org/10.4/rocky$releasever-amd64` which does not exist, as MariaDB don't or as yet have not released a Rocky linux repo.

## :grey_question: Possible Solutio

[2022-02-14 23:51] #340 closed, assigned to nobody

[2022-03-07 14:19] hamarituc opened #341 "Unexpected reset of database users password"
## :ghost: Brief Description

When granting privileges to a database for a user, the users password is changed.

## :pancakes: Cookbook version

5.2.3

## :woman_cook:  Chef-Infra Version

16.16.13

## :tophat: Platform details

Debian 11

## Steps To Reproduce

Steps to reproduce the behavior:

1. Create the following recipe.

[code]

2. Run Chef Client
3. Access the database as the test user wit

[2022-06-08 18:52] doganoo opened #344 "mariadb_server_install runs into "No candidate version available" for mariadb_client"
using this mariadb cookbook, I am installing mariadb successfully on test kitchen.

In a "manual" install/run of `chef-client` using the following shell script:

[code]

I get the following error after running `chef-client` on the shell:

[code]

the recipe is:

[code]

The metadata.rb file contains `depends 'mariadb'` and the Berksfile contains `cookbook 'mariadb'`. I also ran berks `install && b